@model Models.Employee
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <title>用户注册</title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <script type="text/javascript">
        function Registered() {
            check();
            //check_name();
            //check_number();
            //check_pwd();
             $.ajax({
                url: "@Url.Action("UserRegistered")",
                type: "post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("注册成功");
                        parent.closeWin();
                        parent.openFrame("../Inventory/Inventory");
                    } else {

                    }
                }
            });
        }
        function check() {
            var name = document.getElementById('name').value;
            if (/^[^\x00-\xff]$/.test(name)) {
                if (/^\w+S{6}$/.test(number)) {
                    check_pwd();
                } else
                {
                    alert("不为空6位以上,最长12位,输入错误，请重新输入！");
                 
                    document.getElementById("number").value = "";
                    
                    return;
                    update();
                }
            } else
            {
                alert("姓名输入错误，请重新输入！");
                document.getElementById("name").value = "";
                return;
                //update();
            }
        }
        
        //验证用户名账户
        //function check_name() {
        //    var name = document.getElementById('name').value;
        //    if (!( /^[^\x00-\xff]$/.test(name))) {
        //        alert("姓名输入错误，请重新输入！");
        //        Registered();
        //        document.getElementById("name").value = "";
        //        //update();
        //        //return Registered();
        //    }
        //}
        //验证账号
        //function check_number() {
        //    var c = $("#number").val();
        //    reg = /^\w+S{6}$/;
        //    alert("不为空6位以上,最长12位,输入错误，请重新输入！");
        //    document.getElementById("number").value = "";
        //    Registered();
        //        //update();
        //        //return Registered();
        //}


        //验证密码
        function check_pwd() {
            var v = $("#pwd").val();
            var s = $("#pwd2").val();
            reg = /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$).S{6,}$/;
            if (v != s) {
                alert("两次输入密码不一致！");
                update();
                return Registered(); 
            }  
        }
    </script>



    <style>
        body {
            text-align: center
        }

        .div {
            margin: 0 auto;
            width: 400px;
            height: 100px;
        }
        .label {
            float:left;
        }
        /* css注释：为了观察效果设置宽度 边框 高度等样式 */
    </style>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt div" >
                    <h2>用户注册</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-form">
                                @using (Html.BeginForm("UserRegistered", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-group">
                                        <label for="signin_form" class="label">姓名：</label>
                                        @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "请输入姓名", id = "name", type = "text" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form" class="label">账号：</label>
                                        @Html.TextBoxFor(m => m.number, new { @class = "form-control", placeholder = "账号由数字、26个英文字母或者下划线组成的字符串", id = "number", type = "text", maxlength="12"})
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form" class="label">密码：</label>
                                        @Html.TextBoxFor(m => m.password, new { @class = "form-control", placeholder = "请输入密码", id = "pwd", type = "password" ,maxlength="14"})
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form" class="label">重复密码：</label>
                                        <input class = "form-control" placeholder = "请输入密码" id = "pwd2" type = "password" maxlength="14">
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form" class="label">所属部门：</label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.departmentId, new { @class = "form-control", type = "text", placeholder = "请选择部门" })
                                            <div class="input-group-append">
                                                <button class="btn btn-dark" type="button" onclick="Registered()">选择</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-block btn-primary" onclick="Registered()">注册</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Content/Login/js/jquery.js"></script>
    <script src="~/Content/Login/js/modernizr.min.js"></script>
    <script src="~/Content/Login/js/bootstrap.min.js"></script>
    <script src="~/Content/Login/js/bootsnav.js"></script>
    <script src="~/Content/Login/js/jquery.sticky.js"></script>
    <script src="~/Content/Login/js/jquery.easing.min.js"></script>
    <script src="~/Content/Login/js/custom.js"></script>
</body>
</html>