@model Models.Project
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <script type="text/javascript">
        var isTrue = true;
        var isPnum = true;
        var isPname = true;
        function check() {
            //项目令号
            var pnumber = $("#pnumber").val().trim();
            if (pnumber == "") {
                document.getElementById("Ispnum").style.display = "";
                isPnum = false;
            } else {
                document.getElementById("Ispnum").style.display = "none";
                isPnum = true;
            }
            
            //项目名称
            var pname = $("#pname").val().trim();
            if (pname == "") {
                document.getElementById("Ispname").style.display = "";
                isPname = false;
            } else {
                document.getElementById("Ispname").style.display = "none";
                isPname = true;
            }
            if (isPnum && isPname)
                isTrue = true;
            else {
                isTrue = false;
            }
                
            return isTrue;
        } 
        function add() {
            check();
            if (isTrue) {
                $.ajax({
                    url: "@Url.Action("Project_add")",
                    type: "post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        data = eval("(" + data + ")");
                        if (data) {
                            alert("添加成功");
                            parent.closeWin();
                            parent.openFrame("Project_list");
                        } else {
                        }
                    }
                });
            } else {
                return;
            }
        }
    </script>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2 style="text-align:center">添加项目</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-form">
                                @using (Html.BeginForm("Project_add", "Project", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-group">
                                        <label for="signin_form">项目令号：</label>
                                        <label id="Ispnum" style="color:#ff0000;display:none;font-size:13px">*项目令号不能为空，请重新输入</label>
                                        @Html.TextBoxFor(m => m.projectCode, new { @class = "form-control", type = "text", id = "pnumber" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">项目名称：</label>
                                        <label id="Ispname" style="color:#ff0000;display:none;font-size:13px">*项目名称不能为空，请重新输入</label>
                                        @Html.TextBoxFor(m => m.projectName, new { @class = "form-control", type = "text", id = "pname" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">负责人：</label>
                                        @Html.TextBoxFor(m => m.projectCharge, new { @class = "form-control", type = "text" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">备注：</label>
                                        @Html.TextBoxFor(m => m.projectNote, new { @class = "form-control", type = "text" })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-block btn-primary" onclick="add()">添加</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>
