@{
    Layout = "~/Views/AdminIndex/AdminIndex.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @{
        var em = (Models.Employee)ViewData["Employee"];
        Dictionary<string, double> keyValuePairs = (Dictionary<string, double>)ViewData["Dictionary"];
    }
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <link href="~/Content/AdminIndex/css/vendor/britecharts.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/pages/demo.britechart.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/d3.js"></script>
    <script src="~/Content/AdminIndex/js/vendor/britecharts.js"></script>
    <script src="~/Content/Position/js/echarts.min.js"></script>
    <script type="text/javascript">

        function Update() {
             $.ajax({
                url: "@Url.Action("Employee_information")",
                type: "post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("修改成功");
                        parent.closeWin();
                        parent.openFrame("Employee_information?id="+@em.id);
                    } else {
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div class="content-page">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">员工信息</a></li>
                                <li class="breadcrumb-item active">个人信息</li>
                            </ol>
                        </div>
                        <h4 class="page-title">个人信息</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3 header-title">个人信息</h4>
                            @using (Html.BeginForm("Employee_information", "Employee", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                            {
                                <div class="form-group row mb-3">
                                    <label class="col-3 col-form-label">姓名：</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" value="@em.name" name="name">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-3 col-form-label">账号：</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" readonly value="@em.number" name="number">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-3 col-form-label">密码：</label>
                                    <div class="col-9">
                                        <input type="password" class="form-control" value="@em.password" id="password" name="password">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-3 col-form-label">重复密码：</label>
                                    <div class="col-9">
                                        <input type="password" class="form-control" id="repeatPassword">
                                        <span class="badge badge-danger" style="display:none" id="sp_password">密码不一致</span>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-3 col-form-label">所属部门：</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" readonly value="@Models.Department.GetDepartment(em.departmentId.Value).departmentName" name="departmentId">
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-3 col-form-label">权限：</label>
                                    <div class="col-9">
                                        @if (em.permissions.ToString() == "1")
                                        {
                                            <input type="text" class="form-control" readonly value="一级管理员" name="permissions">
                                        }
                                        else if (em.permissions.ToString() == "2")
                                        {
                                            <input type="text" class="form-control" readonly value="二级管理员" name="permissions">
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" readonly value="三级管理员" name="permissions">
                                        }
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label class="col-3 col-form-label">状态：</label>
                                    <div class="col-9">
                                        @if (em.state.ToString() == "1")
                                        {
                                            <input type="text" class="form-control" readonly value="在职" name="state">
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" readonly value="离职" name="state">
                                        }
                                    </div>
                                </div>
                            }
                            <div class="form-group mb-0 justify-content-end row">
                                <div class="col-9">
                                    <button type="button" class="btn btn-info" onclick="Update()">修改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (keyValuePairs != null)
                {
                    <div id="main" class="col-md-6">
                    </div>
                    <script type="text/javascript">
                            @{
                                var sData = keyValuePairs;
                            }
                            var codes = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(sData.Keys.ToArray()));
                            var values = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(sData.Values.ToArray()));
                            var myChart = echarts.init(document.getElementById('main'));
                            var option = {
                                title: {
                                    text: '员工材料消耗量详细信息图'
                                },
                                tooltip: {},
                                legend: {
                                    data: ['编号']
                                },
                                xAxis: {
                                    name: '编号',
                                    data: codes
                                },
                                yAxis: {
                                    name: '金额',
                                },
                                series: [{
                                    name: '金额',
                                    type: 'bar',
                                    data: values
                                }]
                            };
                            myChart.setOption(option);
                    </script>
                }

            </div>
        </div>
    </div>
</body>
</html>
