@model Models.Employee
@{
    Layout = null;
}
@{
    List<Models.Department> departments = (List<Models.Department>)ViewData["department"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script type="text/javascript">
        var isTrue = true;
        var isName = true;
        var isNumber = true;
        var isPassword = true;
        var isPassword2 = true;
        var isDepartment = true;

        function ChooseDepartment() {
            document.getElementById("ChooseDepartment").style.display = "";
        }

        function DepartmentSelect(id,name1,name2,name3) {
            document.getElementById("departmentId").value = id;
            document.getElementById("departmentName").value = name1 + '--' + name2 + '--' + name3;
            document.getElementById("ChooseDepartment").style.display = "none";
        }
        
        function check() {
            //姓名
            document.getElementById("IsNum2").style.display = "none";
            var name = $("#name").val();
            var n = /^[\u4E00-\u9FA5A-Za-z]+$/;
            if (!n.test(name) || name == "") {
                document.getElementById("Isname").style.display = "";
                isName = false;
            } else {
                document.getElementById("Isname").style.display = "none";
                isName = true;
            }
            
            //账号
            var number = $("#number").val();
            var nu =/^\w+$/;
            if (!nu.test(number) || number == "") {
                document.getElementById("IsNum").style.display = "";
                isNumber = false;
            } else {
                document.getElementById("IsNum").style.display = "none";
                isNumber = true;
            }
            //密码
            var pwd = $("#pwd").val();
            var p = /^(\w){6,20}$/;
            if (!p.test(pwd) || pwd == "") {
                document.getElementById("IsPwd").style.display = "";
                isPassword = false;

            } else {
                document.getElementById("IsPwd").style.display = "none";
                isPassword = true;
            }
            
            //再次密码
            var rePwd = $("#rePwd").val();
            if (rePwd != pwd) {
                document.getElementById("IsRePwd").style.display = "";
                isPassword2 = false;

            } else {
                document.getElementById("IsRePwd").style.display = "none";
                isPassword2 = true;
            }
            //部门
            var departmentName = $("#departmentName").val();
            if (departmentName =="") {
                document.getElementById("IsDep").style.display = "";
                isDepartment = false;

            } else {
                document.getElementById("IsDep").style.display = "none";
                isDepartment = true;
            }
            if (isName && isNumber && isPassword && isPassword2 && isDepartment)
                isTrue = true;
            else {
                isTrue = false;
            }
            return isTrue;
        }

        function add() {
            check();
            if (isTrue) {
                $.ajax({
                    url: "@Url.Action("Employee_add")",
                    type: "post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        data = eval("(" + data + ")");
                        if (data) {
                            alert("添加成功");
                            parent.closeWin();
                            parent.openFrame("Employee_list");
                        } else {
                            document.getElementById("IsNum2").style.display = "";
                        }
                    }
                });

            } else {
                return;
            }
            
        }
    </script>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2 style="text-align:center">添加员工</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-form">
                                @using (Html.BeginForm("Employee_add", "Employee", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-group">
                                        <label for="signin_form">姓名：</label>
                                        <label id="Isname" style="color:#ff0000;display:none;font-size:13px">*姓名应为汉字或字母且不为空</label>
                                        @Html.TextBoxFor(m => m.name, new { @class = "form-control", type = "text", id = "name" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">账号：</label>
                                        <label id="IsNum" style="color:#ff0000;display:none;font-size:13px">*账号不能为空，应为字母数字下划线</label>
                                        <label id="IsNum2" style="color:#ff0000;display:none;font-size:13px">*账号已存在，请重新输入</label>
                                        @Html.TextBoxFor(m => m.number, new { @class = "form-control", type = "text", id = "number" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">密码：</label>
                                        <label id="IsPwd" style="color:#ff0000;display:none;font-size:13px">*密码只能输入6-20个字母、数字、下划线且不为空</label>
                                        @Html.TextBoxFor(m => m.password, new { @class = "form-control", type = "password", id = "pwd" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form" class="label">重复密码：</label>
                                        <label id="IsRePwd" style="color:#ff0000;display:none;font-size:13px">*两次输入的密码不一致</label>
                                        <input class="form-control" placeholder="请输入密码" id="rePwd" type="password">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="signin_form" class="label">所属部门：</label>
                                        <label for="signin_form" class="label">（请选择3级部门）</label>
                                        <label id="IsDep" style="color:#ff0000;display:none;font-size:13px">*部门不能为空</label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.departmentId, new { @class = "form-control", type = "text", placeholder = "请选择部门", id = "departmentId", style = "display:none" })
                                            <input class="form-control" placeholder="请选择部门" type="text" id="departmentName" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-dark" type="button" onclick="ChooseDepartment()">选择</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid" id="ChooseDepartment" style="display:none">
                                        <div class="wrapper">
                                            <div class="card col-md-12">
                                                <div class="leftbar-user">
                                                    <a href="#">
                                                        <span class="leftbar-user-name"> 选择部门 </span>
                                                    </a>
                                                </div>
                                                <ul class="metismenu side-nav form-row">
                                                    @foreach (var department in departments)
                                                    {
                                                        if (department.nodeLevel == 1)
                                                        {
                                                            <li class="side-nav-item col-md-12">
                                                                <a href="javascript: void(0);" class="side-nav-link" style="text-align:left">
                                                                    <i class="dripicons-scale"></i>
                                                                    <span>@department.departmentName</span>
                                                                    <span class="menu-arrow"></span>
                                                                </a>
                                                                <ul class="side-nav-second-level " aria-expanded="false">
                                                                    @foreach (var depart in departments)
                                                                    {
                                                                        if (depart.parentNodeId == department.id)
                                                                        {
                                                                            <li class="side-nav-item form-row">
                                                                                <a href="javascript: void(0);" class="col-md-7">
                                                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="dripicons-scale"></i>@depart.departmentName</span>
                                                                                    <span class="menu-arrow"></span>
                                                                                </a>
                                                                                <ul class="side-nav-second-level" aria-expanded="false">
                                                                                    @foreach (var dep in departments)
                                                                                    {
                                                                                        if (dep.parentNodeId == depart.id)
                                                                                        {
                                                                                            <li class="form-row">
                                                                                                <a href="javascript:DepartmentSelect(@dep.id,'@department.departmentName','@depart.departmentName','@dep.departmentName')">
                                                                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="dripicons-scale"></i>@dep.departmentName</span>
                                                                                                </a>
                                                                                            </li>
                                                                                        }
                                                                                    }
                                                                                </ul>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">权限：</label>
                                        @Html.DropDownListFor(m => m.permissions, ViewBag.select as SelectList, new { @class = "form-control", id = "example-select" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">状态：</label>
                                        @Html.DropDownListFor(m => m.state, ViewBag.selectState as SelectList, new { @class = "form-control", id = "example-select" })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-block btn-primary" onclick="add()">添加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
</body>
</html>