@model Models.Employee
@{
    Layout = null;
}
@{
    List<Models.Department> departments = (List<Models.Department>)ViewData["department"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script type="text/javascript">
        function ChooseDepartment() {
            document.getElementById("ChooseDepartment").style.display = "";
        }

        function DepartmentSelect(id,name1,name2,name3) {
            document.getElementById("departmentId").value = id;
            document.getElementById("departmentName").value = name1 + '--' + name2 + '--' + name3;
            document.getElementById("ChooseDepartment").style.display = "none";
        }

        function add() {
            $.ajax({
                url: "@Url.Action("Employee_add")",
                type: "post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("添加成功");
                        parent.closeWin();
                        parent.openFrame("Employee_list");
                    } else {
                    }
                }
            });
        }
    </script>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2>添加员工</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-form">
                                @using (Html.BeginForm("Employee_add", "Employee", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-group">
                                        <label for="signin_form">姓名：</label>
                                        @Html.TextBoxFor(m => m.name, new { @class = "form-control", type = "text" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">账号：</label>
                                        @Html.TextBoxFor(m => m.number, new { @class = "form-control", type = "text" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">密码：</label>
                                        @Html.TextBoxFor(m => m.password, new { @class = "form-control", type = "password" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form" class="label">重复密码：</label>
                                        <input class="form-control" placeholder="请输入密码" id="signin_form" type="password">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>所属部门：</label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.departmentId, new { @class = "form-control", type = "text", placeholder = "请选择部门", id = "departmentId", style = "display:none" })
                                            <input class="form-control" placeholder="请选择部门" type="text" id="departmentName" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-dark" type="button" onclick="ChooseDepartment()">选择</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid" id="ChooseDepartment" style="display:none">
                                        <div class="wrapper">
                                            <div class="card col-md-12">
                                                <div class="leftbar-user">
                                                    <a href="#">
                                                        <span class="leftbar-user-name"> 选择部门 </span>
                                                    </a>
                                                </div>
                                                <ul class="metismenu side-nav form-row">
                                                    @foreach (var department in departments)
                                                    {
                                                        if (department.nodeLevel == 1)
                                                        {
                                                            <li class="side-nav-item col-md-12">
                                                                <a href="javascript: void(0);" class="side-nav-link" style="text-align:left">
                                                                    <i class="mdi mdi-alpha-m-box"></i>
                                                                    <span>@department.departmentName</span>
                                                                    <span class="menu-arrow"></span>
                                                                </a>
                                                                <ul class="side-nav-second-level " aria-expanded="false">
                                                                    @foreach (var depart in departments)
                                                                    {
                                                                        if (depart.parentNodeId == department.id)
                                                                        {
                                                                            <li class="side-nav-item form-row">
                                                                                <a href="javascript: void(0);" class="col-md-7">
                                                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="mdi mdi-alpha-d-box"></i>@depart.departmentName</span>
                                                                                    <span class="menu-arrow"></span>
                                                                                </a>
                                                                                <ul class="side-nav-second-level" aria-expanded="false">
                                                                                    @foreach (var dep in departments)
                                                                                    {
                                                                                        if (dep.parentNodeId == depart.id)
                                                                                        {
                                                                                            <li class="form-row">
                                                                                                <a href="javascript:DepartmentSelect(@dep.id,'@department.departmentName','@depart.departmentName','@dep.departmentName')">
                                                                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="mdi mdi-alpha-g-box"></i>@dep.departmentName</span>
                                                                                                </a>
                                                                                            </li>
                                                                                        }
                                                                                    }
                                                                                </ul>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">权限：</label>
                                        @Html.DropDownListFor(m => m.permissions, ViewBag.select as SelectList, new { @class = "form-control", id = "example-select" })
                                    </div>
                                    <div class="form-group">
                                        <label for="signin_form">状态：</label>
                                        @Html.DropDownListFor(m => m.state, ViewBag.selectState as SelectList, new { @class = "form-control", id = "example-select" })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-footer">
                                <button type="button" class="btn btn-primary" onclick="add();">
                                    添加
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
</body>
</html>