@model List<Models.Department>
@{
    Layout = "~/Views/AdminIndex/AdminIndex.cshtml";
}
@{ 
    Models.Employee loginEmployee = (Models.Employee)ViewData["LoginEmployee"];
    List<Models.Employee> employee = (List<Models.Employee>)ViewData["Employee"];
    if (loginEmployee == null)
    {
            return;
    }
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <script src="~/Content/layui/layui.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/Excel/Excel1.js"></script>
    <script type="text/javascript">
        function CompanyAdd() {
            var url = "Company_add";
            var width = "100%";
            var height = "200px";
            parent.OpenWin(url, width, height);
        }

        function DepartmentAdd(id) {
            var url = "Department_add?id="+id;
            var width = "100%";
            var height = "200px";
            parent.OpenWin(url, width, height);
        }

        function DepartmentAdd2(id) {
            var url = "Department_add2?id="+id;
            var width = "100%";
            var height = "200px";
            parent.OpenWin(url, width, height);
        }

        function DepartmentUpdate(id) {
            var url = "Department_Update?id=" + id;
            var width = "100%";
            var height = "200px";
            parent.OpenWin(url, width, height);
        }

        function DepartmentSelect(id) {
            var url = "Department_Select?id=" + id;
            var width = "100%";
            var height = "780px";
            parent.OpenWin2(url, width, height);
        }

        function EmployeeSelect(id) {
            $.ajax({
                url: "@Url.Action("Department_list")",
                type: "post",
                data: {
                    "id": id
                },
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                    } else {
                    }
                }
            });
        }

        function DepartmentDelete(id) {
            var flag = confirm("是否要删除信息？");
        if (flag) {
            $.ajax({
                url: "@Url.Action("Department_Delete")",
                type: "post",
                data: {
                    "id": id
                },
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("删除成功！");
                        parent.openFrame("Department_list");
                    } else {
                        alert("删除失败！该部门下还有在职人员");
                    }
                }
            });
        }
        }

        function DepartmentDelete2(id) {
            var flag = confirm("是否要删除信息？");
        if (flag) {
            $.ajax({
                url: "@Url.Action("Department_Delete2")",
                type: "post",
                data: {
                    "id": id
                },
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("删除成功！");
                        parent.openFrame("Department_list");
                    } else {
                        alert("删除失败！该部门下有附属部门");
                    }
                }
            });
        }
        }
    </script>
</head>
<body>

    <div class="content-page">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">部门信息管理</li>
                            </ol>
                        </div>
                        <h4 class="page-title">部门信息管理</h4>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="wrapper">
                    <div class="card col-md-8">
                        <div class="leftbar-user" style="text-align:left">
                            <a href="javascript:CompanyAdd()" class="btn btn-primary"><i class="mdi mdi-plus-circle mr-2"></i>添加公司</a>
                        </div>
                        <ul class="metismenu side-nav form-row">
                            @foreach (var department in Model)
                            {
                                if (department.nodeLevel == 1)
                                {
                                    <li class="side-nav-item col-md-9">
                                        <a href="javascript: void(0);" class="side-nav-link">
                                            <i class="dripicons-scale"></i>
                                            <span>@department.departmentName</span>
                                            <span class="menu-arrow"><span class="dripicons-chevron-right"></span></span>
                                        </a>
                                        <ul class="side-nav-second-level " aria-expanded="false">
                                            @foreach (var depart in Model)
                                            {
                                                if (depart.parentNodeId == department.id)
                                                {
                                                    <li class="side-nav-item form-row">
                                                        <a href="javascript: void(0);" class="col-md-8">
                                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="dripicons-scale"></i>@depart.departmentName</span>
                                                            <span class="menu-arrow"><span class="dripicons-chevron-right"></span></span>
                                                        </a>
                                                        @if (loginEmployee.permissions == 1)
                                                        {
                                                            <div class="layui-btn-group col-md-3">
                                                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="DepartmentAdd2(@depart.id)"><i class="layui-icon"></i></button>
                                                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="DepartmentDelete2(@depart.id)"><i class="layui-icon"></i></button>
                                                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="DepartmentUpdate(@depart.id)"><i class="layui-icon"></i></button>
                                                            </div>
                                                        }

                                                        <ul class="side-nav-second-level form-row col-md-8" aria-expanded="false">
                                                            @foreach (var dep in Model)
                                                            {
                                                                if (dep.parentNodeId == depart.id)
                                                                {
                                                                    <li class="side-nav-item form-row">
                                                                        <a href="javascript:EmployeeSelect(@dep.id);" class="col-md-8">
                                                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="dripicons-scale"></i>@dep.departmentName</span>
                                                                        </a>
                                                                        @if (loginEmployee.permissions == 1)
                                                                        {
                                                                            <div class="layui-btn-group col-md-3">
                                                                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="DepartmentDelete(@dep.id)"><i class="layui-icon"></i></button>
                                                                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="DepartmentUpdate(@dep.id)"><i class="layui-icon"></i></button>
                                                                            </div>
                                                                        }
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>

                                    if (loginEmployee.permissions == 1)
                                    {
                                        <li class="layui-btn-group col-md-2">
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="DepartmentAdd(@department.id)"><i class="layui-icon"></i></button>
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="DepartmentDelete2(@department.id)"><i class="layui-icon"></i></button>
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="DepartmentUpdate(@department.id)"><i class="layui-icon"></i></button>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-sm-1"></div>

                    <div class="card col-md-4">
                        <div div class="card-body ">
                            <div class="table-responsive ">

                                <table class="table table-centered table-striped dt-responsive nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>姓名</th>
                                            <th>状态</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int count = 1; }
                                        @foreach (var e in employee)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@e.name</td>
                                                @if (e.state == 1)
                                                {
                                                    <td>在职</td>
                                                }
                                                else if (e.state == 2)
                                                {
                                                    <td>离职</td>
                                                }
                                                else
                                                {
                                                    <td>未通过审核</td>
                                                }
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>
</html>
