@model List<Models.OutcomeQueryView>
@{
    Layout = "~/Views/AdminIndex/AdminIndex.cshtml";
}
@{ 
    int permissions = 0;
    if (ViewData["permissions"] == null)
    {
        permissions = 3;
    }
    else
    {
        permissions = (int)ViewData["permissions"];
    }
}
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <link href="~/Content/AdminIndex/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/vendor/responsive.bootstrap4.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
        <script src="~/Content/AdminIndex/js/app.min.js"></script>
        <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
        <script src="~/Content/layui/layui.js"></script>
        <script src="~/Content/Excel/Excel.js"></script>
        <script type="text/javascript">

        function OutComeMore(id) {
            var url = "OutCome_More?id=" + id;
            var width = "100%";
            var height = "700px";
            parent.OpenWin2(url, width, height);
        }

        function OutComerevocation() {
            var value = $("#income").val();
            var flag = confirm("是否要撤销最新一条出库信息？");
            if (flag) {
                $.ajax({
                    url: "@Url.Action("OutCome_revocation")",
                    type: "post",
                    data: {
                        "id": value
                    },
                    dataType: "json",
                    success: function (data) {
                        data = eval("(" + data + ")");
                        if (data) {
                            alert("撤销成功！");
                            parent.openFrame("OutCome_list");
                        } else {
                            alert("撤销失败！");
                        }
                    }
                });
            }
        }
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //常规用法
            laydate.render({
                elem: '#test1'
            });

            laydate.render({
                elem: '#test2'
            });
        });
    </script>
    <style>
        select {
            border: solid 1px #000;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: url("下拉箭头图片") right center no-repeat;
            padding-right: 20px;
        }
            select::-ms-expand {
                display: none;
            }
    </style>
</head>
@{
    List<Models.MaterialCode> material = (List<Models.MaterialCode>)ViewData["MaterialCode"];
    List<Models.Employee> employee = (List<Models.Employee>)ViewData["employee"];
    List<Models.OutcomeQueryView> outcome = (List<Models.OutcomeQueryView>)ViewData["outcome"];
    List<Models.Manufacturer> manufacturers = (List<Models.Manufacturer>)ViewData["manufacturer"];
    List<Models.Department> departments = (List<Models.Department>)ViewData["department"];
    List<Models.InCome> IncomeBacth = (List<Models.InCome>)ViewData["Income"];
    int a = (int)ViewData["a"];
}
<div class="content-page">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">材料出入库信息</a></li>
                            <li>
                                <span class="dripicons-chevron-right"></span>
                            </li>
                            <li class="breadcrumb-item active">材料出库信息管理</li>
                        </ol>
                    </div>
                    <h4 class="page-title">材料出库信息管理</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">详细查询</h4>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;text-align:center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" action="/OutCome/OutCome_list" style="width:100%;text-align:center">
                                        <div class="form-group mb-3">
                                            <table contenteditable="inherit" style="width:100%;text-align:center">
                                                <tr>
                                                    <td>
                                                        <label style="width:100%;text-align:left">材料编号查询</label>
                                                        <select name="materialCodeid" class="form-control col-sm-11">
                                                            <option value="0">请选择</option>
                                                            @foreach (var emp in material)
                                                            {
                                                                <option value="@emp.id">@emp.code</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label style="width:100%;text-align:left">厂商查询</label>
                                                        <select name="manufacturerid" class="form-control col-sm-11">
                                                            <option value="0">请选择</option>
                                                            @foreach (var man in manufacturers)
                                                            {
                                                                <option value="@man.id">@man.manufacturersName</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label style="width:100%;text-align:left">部门查询</label>
                                                        <select name="departmentid" class="form-control col-sm-11">
                                                            <option value="0">请选择</option>
                                                            @foreach (var dep in departments)
                                                            {
                                                                <option value="@dep.id">@dep.departmentName</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label style="width:100%;text-align:left">领用人查询</label>
                                                        <select name="employeeid" class="form-control col-sm-11">
                                                            <option value="0">请选择</option>
                                                            @foreach (var emp in employee)
                                                            {
                                                                <option value="@emp.id">@emp.name</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label for="example-date" style="width:100%;text-align:left">开始时间：</label>
                                                        <input class="form-control col-sm-11" id="test1" type="text" name="date">
                                                    </td>
                                                    <td>
                                                        <label for="example-date" style="width:100%;text-align:left">结束时间</label>
                                                        <input class="form-control col-sm-11" id="test2" type="text" name="date1">
                                                    </td>

                                                    <td>
                                                        <div class="button-list">
                                                            <button type="submit" style="width:60px;height:50px; float:unset;margin-bottom:3px;" class="btn btn-primary"
                                                                    data-toggle="modal" data-target=".signin_modal">
                                                                查询
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="l-button" style="float:right">
                            <a href="javascript:export_excel('products-datatable14')" class="side-nav-link">
                                <i class=" dripicons-export"></i>
                                <span> 导出Excel </span>
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable15" style="width:auto;height:auto">
                                <thead>
                                    <tr>
                                        <th style="width: 20px;">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                            </div>
                                        </th>
                                        <th style="width: 50px;">详情</th>
                                        <th>编号</th>
                                        <th>材料编号</th>
                                        <th>牌号</th>
                                        <th>批号</th>
                                        <th>材料类别</th>
                                        <th>材料名称</th>
                                        <th>材料规格</th>
                                        <th>材料出库数量</th>
                                        <th>材料单位</th>
                                        <th>材料单价</th>
                                        <th>材料总价</th>
                                        <th>材料出库时间</th>
                                        <th>领用人</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int count = 1; }
                                    @foreach (var outComes in outcome)
                                    {
                                        if (a == 1)
                                        {
                                            if (outComes.state != 2)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                            <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:OutComeMore(@outComes.OutId)" class="action-icon"> <i class=" dripicons-blog"></i></a>
                                                    </td>
                                                    <td class="table-user">@count</td>
                                                    <td>@outComes.code</td>
                                                    <td>@outComes.brandCodeName</td>
                                                    <td>@outComes.batch</td>
                                                    <td>@outComes.categoryName</td>
                                                    <td>@outComes.materialName</td>
                                                    <td>@outComes.modelName</td>
                                                    <td>@outComes.number</td>
                                                    <td>@outComes.unit</td>
                                                    <td>@outComes.unitPrice</td>
                                                    <td>@outComes.price</td>
                                                    <td>@outComes.recipientsTime.ToString("yyyy-MM-dd")</td>
                                                    <td>@outComes.name</td>
                                                    <td style="word-wrap:break-word">@outComes.instructions</td>
                                                </tr>
                                                count++;
                                            }
                                        }
                                        else
                                        {
                                            if (outComes.state == 2)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                            <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:OutComeMore(@outComes.OutId)" class="action-icon"> <i class=" dripicons-blog"></i></a>
                                                    </td>
                                                    <td class="table-user">@count</td>
                                                    <td>@outComes.code</td>
                                                    <td>@outComes.brandCodeName</td>
                                                    <td>@outComes.batch</td>
                                                    <td>@outComes.categoryName</td>
                                                    <td>@outComes.materialName</td>
                                                    <td>@outComes.modelName</td>
                                                    <td>@outComes.number</td>
                                                    <td>@outComes.unit</td>
                                                    <td>@outComes.unitPrice</td>
                                                    <td>@outComes.price</td>
                                                    <td>@outComes.recipientsTime.ToString("yyyy-MM-dd")</td>
                                                    <td>@outComes.name</td>
                                                    <td style="word-wrap:break-word">@outComes.instructions</td>
                                                </tr>
                                                count++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (permissions == 1)
                        {
                            <div class="row mb-4">

                                <div class="col-sm-4">
                                    <select id="income" name="income" style="width:200px;height:42px" class="form-control">
                                        <option value="0">请选择想要撤销的材料批号</option>
                                        @foreach (var bacth in IncomeBacth)
                                        {
                                            <option value="@bacth.id">@bacth.batch</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <a href="javascript:OutComerevocation()" class="btn btn-danger" style="width:150px;height:42px"><i class="mdi mdi-plus-circle mr-2"></i>撤销</a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="/OutCome/OutCome_revocationlist" class="btn btn-primary" style="width:150px;height:42px"><i class="mdi mdi-plus-circle mr-2"></i>显示撤销记录</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

