@model List<Models.OutCome>
@{
    Layout = "~/Views/AdminIndex/AdminIndex.cshtml";
}

    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <link href="~/Content/AdminIndex/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/vendor/responsive.bootstrap4.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
        <script src="~/Content/AdminIndex/js/app.min.js"></script>
        <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
        <script src="~/Content/layui/layui.js"></script>
        <script src="~/Content/Excel/Excel.js"></script>
        <script type="text/javascript">
        function OutComeMore(id) {
            var url = "OutCome_More?id=" + id;
            var width = "100%";
            var height = "400px";
            parent.OpenWin2(url, width, height);
        }
        function OutComerevocation() {
            var flag = confirm("是否要撤销最新一条出库信息？");
        if (flag) {
            $.ajax({
                url: "@Url.Action("OutCome_revocation")",
                type: "post",
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("撤销成功！");
                        parent.openFrame("OutCome_list");
                    } else {
                        alert("撤销失败！");
                    }
                }
            });
        }
        }
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //常规用法
            laydate.render({
                elem: '#test1'
            });

            laydate.render({
                elem: '#test2'
            });
        });
    </script>
    <style>
        select {
            border: solid 1px #000;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: url("下拉箭头图片") right center no-repeat;
            padding-right: 20px;
        }

            select::-ms-expand {
                display: none;
            }
    </style>
</head>
@{
    List<Models.MaterialCode> material = (List<Models.MaterialCode>)ViewData["MaterialCode"];
    List<Models.Employee> employee = (List<Models.Employee>)ViewData["employee"];
    List<Models.OutCome> outcomelist = (List<Models.OutCome>)ViewData["outcome"];
    List<Models.Manufacturer> manufacturers = (List<Models.Manufacturer>)ViewData["manufacturer"];
    List<Models.Department> departments = (List<Models.Department>)ViewData["department"];
}
<div class="content-page">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">货物出库</a></li>
                            <li class="breadcrumb-item active">货物出库管理</li>
                        </ol>
                    </div>
                    <h4 class="page-title">货物出库管理</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">详细查询</h4>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;text-align:center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" action="/OutCome/OutCome_list" style="width:100%;text-align:center">
                                        <div class="form-group mb-3">
                                            <table contenteditable="inherit" style="width:100%;text-align:center">
                                                <tr>
                                                    <td>
                                                        <label style="width:100%;text-align:left">货品编号查询</label>
                                                        <select name="materialCodeid" style="width:200px;height:40px" class="form-control">
                                                            <option value="0">请选择</option>
                                                            @foreach (var emp in material)
                                                            {
                                                                <option value="@emp.id">@emp.code</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label style="width:100%;text-align:left">厂商查询</label>
                                                        <select name="manufacturerid" style="width:200px;height:40px" class="form-control">
                                                            <option value="0">请选择</option>
                                                            @foreach (var man in manufacturers)
                                                            {
                                                                <option value="@man.id">@man.manufacturersName</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label style="width:100%;text-align:left">部门查询</label>
                                                        <select name="departmentid" style="width:200px;height:40px" class="form-control">
                                                            <option value="0">请选择</option>
                                                            @foreach (var dep in departments)
                                                            {
                                                                <option value="@dep.id">@dep.departmentName</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label style="width:100%;text-align:left">领用人查询</label>
                                                        <select name="employeeid" style="width:200px;height:40px" class="form-control">
                                                            <option value="0">请选择</option>
                                                            @foreach (var emp in employee)
                                                            {
                                                                <option value="@emp.id">@emp.name</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label for="example-date" style="width:100%;text-align:left">开始时间：</label>
                                                        <input class="form-control" id="test1" type="text" name="date" style="width:200px">
                                                    </td>
                                                    <td>
                                                        <label for="example-date" style="width:100%;text-align:left">结束时间</label>
                                                        <input class="form-control" id="test2" type="text" name="date1" style="width:200px">
                                                    </td>

                                                    <td>
                                                        <div class="button-list">
                                                            <button type="submit" style="width:60px;height:50px; float:unset" class="btn btn-primary"
                                                                    data-toggle="modal" data-target=".signin_modal">
                                                                查询
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="l-button" style="float:right">
                            <a href="javascript:export_excel('products-datatable3')" class="side-nav-link">
                                <i class=" dripicons-export"></i>
                                <span> 导出Excel </span>
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable3" style="width:auto;height:auto">
                                <thead>
                                    <tr>
                                        <th style="width: 20px;">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                            </div>
                                        </th>
                                        <th>编号</th>
                                        <th>货品编号</th>
                                        <th>货品种类</th>
                                        <th>货品名称</th>
                                        <th>货品规格</th>
                                        <th>货品出库数量</th>
                                        <th>货品单位</th>
                                        <th>货品单价</th>
                                        <th>货品总价</th>
                                        <th>货品出库时间</th>
                                        <th>货品借用人</th>
                                        <th>备注</th>
                                        <th style="width: 50px;">详细信息</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int count = 1; }
                                    @foreach (var outComes in outcomelist)
                                    {
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                    <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td class="table-user">@count</td>
                                            <td>@Models.OutCome.GetMaterCodeName(outComes.inventoryId)</td>
                                            <td>@Models.OutCome.GetCategoryName(outComes.inventoryId).categoryName</td>
                                            <td>@Models.OutCome.GetNameName(outComes.inventoryId)</td>
                                            <td>@Models.OutCome.GetModelName(outComes.inventoryId)</td>
                                            <td>@outComes.number</td>
                                            <td>@outComes.unit</td>
                                            <td>@Models.OutCome.GetInComeunitPrice(outComes.inventoryId)</td>
                                            <td>@outComes.price</td>
                                            <td>@outComes.recipientsTime.ToString("d")</td>
                                            <td>@Models.OutCome.GetEmployeeName(outComes.borrowerId)</td>
                                            <td style="word-wrap:break-word">@outComes.instructions</td>
                                            <td>
                                                <a href="javascript:OutComeMore(@outComes.id)" class="action-icon"> <i class="mdi mdi-calendar-text-outline"></i></a>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <a href="javascript:OutComerevocation()" class="btn btn-primary"><i class="mdi mdi-plus-circle mr-2"></i>撤销最新出库记录</a>
                                <a href="/OutCome/OutCome_revocationlist" class="btn btn-primary"><i class="mdi mdi-plus-circle mr-2"></i>显示撤销记录</a>
                            </div>
                            <div class="col-sm-1">
                                <form method="post" action="/OutCome/OutCome_revocation" style="width:100%;text-align:center">
                                    <table contenteditable="inherit" style="width:100%;text-align:center">
                                        <tr>
                                            <td>
                                                <label style="width:100%;text-align:left">按货品编号撤销出库数据</label>
                                                <select name="materialCodeid2" style="width:200px;height:40px" class="form-control">
                                                    <option value="0">请选择</option>
                                                    @foreach (var emp in material)
                                                    {
                                                        <option value="@emp.id">@emp.code</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <label style="height:16px"></label>
                                                    <button type="submit" style="width:80px;height:42px" class="btn btn-primary"
                                                            @*data-toggle="modal" data-target=".signin_modal"*@>
                                                        撤销
                                                    </button>
                                              
                                               
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

