@{
    Layout = null;
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <script src="~/Content/Position/js/echarts.min.js"></script>
    <link href="~/Content/AdminIndex/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/vendor/responsive.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
</head>
<div style="overflow-x:auto;width:inherit;height:inherit">
        @{
            Models.OutcomeQueryView outCome = (Models.OutcomeQueryView)ViewData["outcome"];
        }
        <div class="content-page">
            <div class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">更多信息</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="signin-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="signin_form">货品编号：</label>
                                    <input class="form-control" name="name1" type="text" value="@outCome.code" readonly="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="signin_form">货品种类：</label>
                                    <input class="form-control" name="model" type="text" value="@outCome.categoryName" readonly="" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="signin_form">货品名称：</label>
                                    <input class="form-control" name="category" type="text" value="@outCome.materialName" readonly="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="signin_form">货品规格：</label>
                                    <input class="form-control" name="materialCode" type="text" value="@outCome.modelName" readonly="" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="signin_form">货品出库数量：</label>
                                    <input class="form-control" name="batch" type="text" value="@outCome.number" readonly="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="signin_form">货品单位：</label>
                                    <input class="form-control" name="unit" type="text" value="@outCome.unit" readonly="" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="signin_form">货品单价（元）：</label>
                                    <input class="form-control" name="unitPrice" type="text" value="@outCome.unitPrice" readonly="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="signin_form">货品总价（元）：</label>
                                    <input class="form-control" name="unitPrice" type="text" value="@outCome.price" readonly="" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="signin_form">货品出库时间：</label>
                                    <input class="form-control" name="operator" type="text" value="@outCome.recipientsTime.ToString("d")" readonly="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="signin_form">货品借用人：</label>
                                    <input class="form-control" name="amount" type="text" value="@outCome.name" readonly="" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="signin_form">货品出库仓位：</label>
                                    <input class="form-control" name="menufacture" type="text" value="@outCome.positionName" readonly="" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="signin_form">出库项目名称：</label>
                                    <input class="form-control" name="position" type="text" value="@outCome.projectName" readonly="" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="layui-inline col-md-6 form-group">
                                    <label for="signin_form">备注:</label>
                                    <textarea id="instructions" name="instructions" style=" width: 99%; height: 90px" readonly="">@outCome.instructions</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>