@model List<Models.OutCome>
@{
    Layout = "~/Views/Login/AdminIndex.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <link href="~/Content/AdminIndex/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/vendor/responsive.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <script type="text/javascript">
        
        function OutComeSelect() {
            var url = "OutCome_Select";
            var width = "100%";
            var height = "780px";
            parent.OpenWin2(url, width, height);
        }
        
    </script>
</head>

<div class="content-page">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">货物出库</a></li>
                            <li class="breadcrumb-item active">货物出库管理</li>
                        </ol>
                    </div>
                    <h4 class="page-title">货物出库管理</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <a href="javascript:OutComeSelect()" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle mr-2"></i>详细查询</a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable3">
                                <thead>
                                    <tr>
                                        <th style="width: 20px;">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                            </div>
                                        </th>
                                        <th>编号</th>
                                        <th>货品入库ID</th>
                                        <th>货品出库数量</th>
                                        <th>货品单位</th>
                                        <th>货品出库时间</th>
                                        <th>货品借用人ID</th>
                                        <th>货品价格</th>
                                        <th>项目ID</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int count = 1; }
                                    @foreach (var outCome in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                    <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td class="table-user">@count</td>
                                            <td>@outCome.incomeId</td>
                                            <td>@outCome.number</td>
                                            <td>@outCome.unit</td>
                                            <td>@outCome.recipientsTime</td>
                                            <td>@outCome.borrowerId</td>
                                            <td>@outCome.price</td>
                                            <td>@outCome.projectId</td>
                                            <td>@outCome.instructions</td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

