@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/jquery-3.3.1.min.js"></script>
    @{ Models.InComeView inCome = (Models.InComeView)ViewData["InComeView"];}
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;

              laydate.render({
                elem: '#IncomeText'
                ,value: ''
                ,isInitValue: true
              });

            laydate.render({
                elem: '#ReckeckText'
                ,value: ''
                ,isInitValue: true
              });
        });

        var isTrue = true;
        var isISpecise = true;
        var isIPH = true;
        var isIper = true;
        var isINumber = true;
        var isICycle = true;


        function check() {

            //类别
            var ISpecise = $("#ISpecise").val();
            var n = /^\s*$/;
            if (!n.test(ISpecise)) {
                document.getElementById("IsSpecise").style.display = "none";
                isISpecise = true;
            } else {
                document.getElementById("IsSpecise").style.display = "";
                isISpecise = false;
            }
           
            //批号
            var IPh = $("#IPh").val();
            var n = /^\s*$/;
            if (!n.test(IPh)) {
                document.getElementById("IsPH").style.display = "none";
                isIPH = true;
            } else {
                document.getElementById("IsPH").style.display = "";
                isIPH = false;
            }
            //单价
            var Iper = $("#Iper").val();
            var i = /^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/;
            if (!i.test(Iper)|| Iper == "") {
                document.getElementById("IsPer").style.display = "";
                isIper = false;
            } else {
                document.getElementById("IsPer").style.display = "none";
                isIper = true;

            }
            //数量
            var INumber = $("#INumber").val();
            if (!i.test(INumber) || INumber == "") {
                document.getElementById("IsNumber").style.display = "";
                isINumber = false;
            } else {
                document.getElementById("IsNumber").style.display = "none";
                isINumber = true;
            }
            //周期
            var ICycle = $("#ICycle").val();
            var n = /^\s*$/;
            if (!n.test(ICycle)) {
                document.getElementById("IsCycle").style.display = "none";
                isICycle = true;
            } else {
                document.getElementById("IsCycle").style.display = "";
                isICycle = false;
            }
            if (isISpecise && isIPH && isIper && isINumber && isICycle) {
                isTrue = true;
            } else {
                isTrue = false;
            }
            return isTrue;
        }


            $(function () {
        $("#myform :input").change(function () {
            $("#myform").data("changed", true);
        });

    });
    function update() {
        if ($("#myform").data("changed")) {
            alert("输入框修改过！");
            check();
            if (isTrue) {
                $.ajax({
                    url: "@Url.Action("InCome_update")",
                    type: "post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        data = eval("(" + data + ")");
                        if (data) {
                            alert("修改成功");
                            parent.closeWin2();
                            parent.openFrame("InCome_list");
                        } else {
                        }
                    }
                });
            } else {
                return;
            }
        } else {
            alert("没有修改！");
        }


    }
    
    </script>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2 style="text-align:center">修改材料</h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="signin-form" id="myform">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">名称：</label>
                                        <input class="form-control" name="name1" type="text" value="@inCome.materialName" readonly="" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">规格：</label>
                                        <input class="form-control" name="model" type="text" value="@inCome.modelName" readonly="" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">类别：</label>
                                        <label id="IsSpecise" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                        <input class="form-control" name="category" type="text" value="@inCome.categoryName" id="ISpecise" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">编号：</label>
                                        <input class="form-control" name="materialCode" type="text" value="@inCome.code" readonly="" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">批号：</label>
                                        <label id="IsPH" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                        <input class="form-control" name="batch" type="text" value="@inCome.batch" id="IPh" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">计量单位：</label>
                                        @Html.DropDownList("unit", ViewBag.select as SelectList, new { @class = "form-control", id = "example-select" })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">单价（元）：</label>
                                        <label id="IsPer" style="color:#ff0000;display:none;font-size:13px">*不能为空,最多到小数点后两位</label>
                                        <input class="form-control" name="unitPrice" type="text" value="@inCome.unitPrice" id="Iper" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">单价的单位：</label>
                                        @Html.DropDownList("priceMeasure", ViewBag.selectUnitPrice as SelectList, new { @class = "form-control", id = "example-select" })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">操作人：</label>
                                        @Html.DropDownList("operator", ViewBag.selectOperator as SelectList, new { @class = "form-control", id = "example-select" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">数量：</label>
                                        <label id="IsNumber" style="color:#ff0000;display:none;font-size:13px">*不能为空,最多到小数点后两位</label>
                                        <input class="form-control" name="amount" type="text" value="@inCome.amount" id="INumber" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">厂家：</label>
                                        @Html.DropDownList("manufacturer", ViewBag.selectMenu as SelectList, new { @class = "form-control", id = "example-select" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">放置位置：</label>
                                        @Html.DropDownList("position", ViewBag.selectPosition as SelectList, new { @class = "form-control", id = "example-select" })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="layui-inline col-md-6 form-group">
                                        <label for="signin_form">入库时间:</label>
                                        <input type="text" class="layui-input form-control" id="IncomeText" name="IncomeText" value="@inCome.storageTime.ToShortDateString().ToString()">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">复检周期：</label>
                                        <label id="IsCycle" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                        <input type="text" class="form-control" name="reviewCycle" value="@inCome.reviewCycle" id="ICycle">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-block btn-primary" onclick="update()">修改</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>