@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    @{ Models.InCome inCome = (Models.InCome)ViewData["InCome"];}
    <script type="text/javascript">

    </script>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2>材料信息</h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="signin-form">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">名称：</label>
                                        <input class="form-control" name="name1" type="text" value="@inCome.GetName(inCome.codeId).materialName" readonly=""/>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">规格：</label>
                                        <input class="form-control" name="model" type="text" value="@inCome.GetModel(inCome.codeId).modelName" readonly=""/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">类别：</label>
                                        <input class="form-control" name="category" type="text" value="@inCome.GetCategory(inCome.categoryId).categoryName" readonly=""/>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">编号：</label>
                                         <input class="form-control" name="materialCode" type="text" value="@Models.InCome.GetMaterialCode(inCome.codeId).code" readonly=""/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">批号：</label>
                                        <input class="form-control" name="batch" type="text" value="@inCome.batch" readonly=""/>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">计量单位：</label>
                                        <input class="form-control" name="unit" type="text" value="@inCome.unit" readonly="" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">单价（元）：</label>
                                        <input class="form-control" name="unitPrice" type="text" value="@inCome.unitPrice" readonly=""/>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">单价的单位：</label>
                                        <input class="form-control" name="unitPrice" type="text" value="@inCome.unitPrice" readonly="" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">操作人：</label>
                                        <input class="form-control" name="operator" type="text" value="@inCome.GetOperator(inCome.operatorId).name" readonly="" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">数量：</label>
                                        <input class="form-control" name="amount" type="text" value="@inCome.amount" readonly=""/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">厂家：</label>
                                        <input class="form-control" name="menufacture" type="text" value="@inCome.GetManufacture(inCome.menufactureId).manufacturersName" readonly="" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">放置位置：</label>
                                        <input class="form-control" name="position" type="text" value="@inCome.GetPosition(inCome.id).positionName" readonly="" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="layui-inline col-md-6 form-group">
                                        <label for="signin_form">入库时间:</label>
                                        <input type="text" class="layui-input form-control" id="IncomeText">
                                        <input class="form-control" name="IncomeText" type="text" value="@inCome.storageTime.ToShortTimeString()" readonly="" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="signin_form">复检时间：</label>
                                        <input type="text" class="layui-input form-control" id="ReckeckText">
                                        <input class="form-control" name="ReckeckText" type="text" value="" readonly="" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="signin_form">产品质量证明：</label>
                                    
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="signin_form">复验结果报告：</label>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>