@model Models.InCome
@{
    Layout = null;
}
@{
    List<Models.Name> names = Models.Name.SelectAll();
    List<Models.Model> models = Models.Name.SelectModelAll();
    List<Models.Category> categories = Models.Name.SelectCategoryAll();
    List<Models.BrandCode> brandCodes = Models.Name.SelectBrandCodeAll();
    List<Models.MaterialCode> materialCodes = Models.Name.SelectMaterialCodeAll();
    List<Models.RecheckReport> recheckReports = Models.Name.SelectRecheckReportAll();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" media="all" />
    <script src="~/Content/layui/layui.js" charset="utf-8"></script>
    <script src="~/Content/jquery-3.3.1.min.js"></script>
    <link href="~/Content/image/preview.css" rel="stylesheet" />
    <script src="~/Content/image/preview.js"></script>
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //常规用法
            laydate.render({
                elem: '#test1'
            });

            laydate.render({
                elem: '#test2'
            });
        });

        layui.use('upload', function () {
            var $ = layui.jquery
                , upload = layui.upload;
            var id = 0;

            var demoListView = $('#demoList')
            var qualityView = $('#qualityId')
                , uploadListIns = upload.render({
                    elem: '#testList'
                    , url: '/upload/'
                    , accept: 'image/*'
                    , multiple: true
                    , auto: false
                    , choose: function (obj) {
                        var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                        //读取本地文件
                        obj.preview(function (index, file, result) {
                            var tr = $(['<tr id="upload-' + index + '">'
                                , '<td>' + file.name + '</td>'
                                , '<td>'
                                , '<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img" width="200px" heigth="200px">'
                                , '</td>'
                                , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
                                , '<td>'
                                , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete1">删除</button>'
                                , '</td>'
                                , '</tr>'].join(''));
                            var div = $(['<input class="form-control" hidden id="quality' + id + '" type="text" name="quality' + id + '">'].join(''));
                            //删除
                            tr.find('.demo-delete1').on('click', function () {
                                delete files[index]; //删除对应的文件
                                tr.remove();
                                div.remove();
                                uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选

                            });

                            qualityView.append(div);
                            $("#quality" + id + "").val(result);
                            demoListView.append(tr);
                            id++;
                            $("#qualityCount").val(id);
                        });
                    }
                });
        });


        layui.use('upload', function () {
            var $ = layui.jquery
                , upload = layui.upload;
            var id2 = 0;

            var demoListView2 = $('#demoList2')
            var recheckView = $('#recheckId')
            ,uploadListIns = upload.render({
            elem: '#testList2'
            ,url: '/upload/'
            ,accept: 'image/*'
            ,multiple: true
            ,auto: false
            ,choose: function(obj){
              var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
              //读取本地文件
              obj.preview(function(index, file, result){
                  var tr = $(['<tr id="upload-' + index + '">'
                  ,'<td>'+ file.name +'</td>'
                  , '<td>'
                      , '<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img" width="200px" heigth="200px">'
                      , '</td>'
                  ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                  ,'<td>'
                    ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                  ,'</td>'
                  , '</tr>'].join(''));

                   var div = $(['<input class="form-control" hidden id="recheck'+id2+'" type="text" name="recheck'+id2+'">'].join(''));

                //删除
                tr.find('.demo-delete').on('click', function(){
                  delete files[index]; //删除对应的文件
                    tr.remove();
                    div.remove();
                  uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                });
                  recheckView.append(div);
                  $("#recheck"+id2+"").val(result);
                  demoListView2.append(tr);
                  id2++;
                  $("#recheckCount").val(id2);
              });
            }
          });
        });
        //验证

        var isTrue = true;
        var isIName = true;
        var isISize = true;
        var isISpecise = true;
        var isIBH = true;
        var isIBC = true;
        var isIPH = true;
        var isIper = true;
        var isINumber = true;
        var isICycle = true;
        //var isQuality = true;
        //var isRecheck = true;
        var isInComeTime = true;
        var isRecheckTime = true;
        var isRecheckBasis = true;
        var isRecheckOrderNo = true;

        function check() {
            //名称
            var IName = $("#IName").val().trim();
            if (IName == "") {
                document.getElementById("IsName").style.display = "";
                isIName = false;
            } else {
                document.getElementById("IsName").style.display = "none";
                isIName = true;
            }
            //规格
            var ISize = $("#ISize").val().trim();
            if (ISize == "") {
                document.getElementById("IsSize").style.display = "";
                isISize = false;
            } else {
                document.getElementById("IsSize").style.display = "none";
                isISize = true;
            }
            //类别
            var ISpecise = $("#ISpecise").val().trim();
            if (ISpecise == "") {
                document.getElementById("IsSpecise").style.display = "";
                isISpecise = false;
            } else {
                document.getElementById("IsSpecise").style.display = "none";
                isISpecise = true;
            }
            //编号
            var IBh = $("#IBh").val().trim();
            if (IBh == "") {
                document.getElementById("IsBH").style.display = "";
                isIBH = false;
            } else {
                document.getElementById("IsBH").style.display = "none";
                isIBH = true;
            }
            //牌号
             var IBC = $("#IBC").val().trim();
            if (IBC == "") {
                document.getElementById("IsBC").style.display = "";
                isIBC = false;
            } else {
                document.getElementById("IsBC").style.display = "none";
                isIBC = true;
            }
            //批号
            var IPh = $("#IPh").val().trim();

            if (IPh == "") {
                document.getElementById("IsPH").style.display = "";
                isIPH = false;
            } else {
                $.ajax({
                    url: "@Url.Action("Batch")",
                    data:"batch="+IPh,
                    type: "post",
                    success: function (data) {
                        if (data) {
                            isIPH = true;
                            document.getElementById("IsPH2").style.display = "none";
                        }
                        else {
                            isIPH = false;
                            document.getElementById("IsPH2").style.display = "";
                        }
                    }
                });
                document.getElementById("IsPH").style.display = "none";
            }
            //单价
            var Iper = $("#Iper").val().trim();
            if (Iper == "") {
                document.getElementById("IsPer").style.display = "";
                isIper = false;
            } else {
                document.getElementById("IsPer").style.display = "none";
                isIper = true;

            }
            //数量
            var INumber = $("#INumber").val().trim();
            if (INumber == "") {
                document.getElementById("IsNumber").style.display = "";
                isINumber = false;
            } else {
                document.getElementById("IsNumber").style.display = "none";
                isINumber = true;
            }
            //周期
            var ICycle = $("#ICycle").val().trim();
            if (ICycle == "") {
                document.getElementById("IsCycle").style.display = "";
                isICycle = false;
            } else {
                document.getElementById("IsCycle").style.display = "none";
                isICycle = true;
            }

            //质量证明
            //var quality = $("#qualityId :input").length;
            //if (quality == 0) {
            //    document.getElementById("testlist").style.display = "";
            //    isQuality = false;
            //} else {
            //    document.getElementById("testlist").style.display = "none";
            //    isQuality = true;
            //}

            //复检报告
            //var recheck = $("#recheckId :input").length;
            //if (recheck == 0) {
            //    document.getElementById("testlist1").style.display = "";
            //    isRecheck = false;
            //} else {
            //    document.getElementById("testlist1").style.display = "none";
            //    isRecheck = true;
            //}

            //入库时间
            var incometime = $("#test1").val().trim();
            if (incometime == "") {
                document.getElementById("inComeTime").style.display = "";
                isInComeTime = false;
            } else {
                document.getElementById("inComeTime").style.display = "none";
                isInComeTime = true;
            }

            //复检时间
            var rechecktime = $("#test2").val().trim();
            if (rechecktime == "") {
                document.getElementById("recheckTime").style.display = "";
                isRecheckTime = false;
            } else {
                document.getElementById("recheckTime").style.display = "none";
                isRecheckTime = true;
            }

            if (isIName && isISize && isISpecise && isIBH && isIBC && isIPH && isIper && isINumber && isICycle /*&& isQuality && isRecheck*/ && isInComeTime && isRecheckTime) {
                isTrue = true;
            } else {
                isTrue = false;
            }
            return isTrue;
        }
        $(function () {
            $("#testList2").click(function () {
                $("#fujian").show();
            });
        });

        function check2() {
            var IRecheckBasis = $("#IRecheckBasis").val().trim();
            if (IRecheckBasis == "") {
                document.getElementById("IsRecheckBasis").style.display = "";
                isRecheckBasis = false;
            } else {
                document.getElementById("IsRecheckBasis").style.display = "none";
                isRecheckBasis = true;
            }
            //复检单号
            var IRecheckOrderNo = $("#IRecheckOrderNo").val().trim();
            if (IRecheckOrderNo == "") {
                document.getElementById("IsRecheckOrderNo").style.display = "";
                isRecheckOrderNo = false;
            } else {
                    $.ajax({
                    url: "@Url.Action("RecheckOrderNo")",
                    data:"recheckOrderNo="+IRecheckOrderNo,
                    type: "post",
                    success: function (data) {
                        if (data) {
                            isRecheckOrderNo = true;
                            document.getElementById("IsRecheckOrderNo2").style.display = "none";
                        }
                        else {
                            isRecheckOrderNo = false;
                            document.getElementById("IsRecheckOrderNo2").style.display = "";
                        }
                    }
                });
                document.getElementById("IsRecheckOrderNo").style.display = "none";

            }
            if (isRecheckBasis && isRecheckOrderNo) {
                ischeck2 = true;
            } else {
                ischeck2 = false;
            }
            return ischeck2;

        }
        //判断复检报告是否有内容
        var ischeck2;
        var ischeck;
        function Ch() {
            var recheck = $("#recheckId :input").length;
            if (recheck == 0) {
                ischeck = true;
            } else {
                check2();
                if (isTrue && ischeck2) {
                    ischeck = true;
                } else {
                    ischeck = false;
                }
            }
        }

        function clearNoNum(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字而不是
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        }

        function nameblur() {
            var name = $("#IName").val();
            var model = $("#ISize").val();
            if (name != "" && model != "") {
                $.ajax({
                    url: "@Url.Action("GetCode")",
                    data:{"name":name,"model":model},
                    type: "post",
                    success: function (data) {
                        if (data != "") {
                            $("#IBh").val(data);
                        }
                    }
                });
            }
        }

        function codeblur() {
            var code = $("#IBh").val();
            if (code != "") {
                $.ajax({
                    url: "@Url.Action("GetName")",
                    data:"code="+code,
                    type: "post",
                    success: function (data) {
                        if (data != "") {
                            $("#IName").val(data);
                        }
                    }
                });

                $.ajax({
                    url: "@Url.Action("GetModel")",
                    data:"code="+code,
                    type: "post",
                    success: function (data) {
                        if (data != "") {
                            $("#ISize").val(data);
                        }
                    }
                });
            }
        }


        function add() {
            check();
            if (isTrue) {
                Ch();
                if (ischeck) {
                    $.ajax({
                    url: "@Url.Action("InCome_add")",
                    type: "post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        data = eval("(" + data + ")");
                        if (data) {
                            alert("添加成功");
                            parent.closeWin2();
                            parent.openFrame("InCome_list");
                        } else {
                            return;
                        }
                        }
                    });
                    }
            } else {
                isJudge = false;
                return;
            }
        }
       
    </script>

    <style type="text/css">
        #wrap img {
            vertical-align: top;
            cursor: pointer;
        }
        #wrap2 img {
            vertical-align: top;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2 style="text-align:center">添加材料</h2>
                    <div>&nbsp;</div>
                    <div class="row">
                        <div class="col-12">
                            <div class="signin-form" name="form1">
                                @using (Html.BeginForm("InCome_add", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">名称：</label>
                                            <label id="IsName" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input class="form-control" name="name1" type="text" id="IName" list="namelist" onblur="nameblur()" />
                                            <datalist id="namelist">
                                                @foreach (var name in names)
                                                {
                                                    <option>@name.materialName</option>
                                                }
                                            </datalist>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">规格：</label>
                                            <label id="IsSize" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input class="form-control" name="model" type="text" id="ISize" list="modellist" onblur="nameblur()" />
                                            <datalist id="modellist">
                                                @foreach (var mo in models)
                                                {
                                                    <option>@mo.modelName</option>
                                                }
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">类别：</label>
                                            <label id="IsSpecise" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input class="form-control" name="category" type="text" id="ISpecise" list="categorylist" />
                                            <datalist id="categorylist">
                                                @foreach (var categorie in categories)
                                                {
                                                    <option>@categorie.categoryName</option>
                                                }
                                            </datalist>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">牌号：</label>
                                            <label id="IsBC" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input class="form-control" name="brandCode" type="text" id="IBC" list="brandCodelist" />
                                            <datalist id="brandCodelist">
                                                @foreach (var brandCode in brandCodes)
                                                {
                                                    <option>@brandCode.brandCodeName</option>
                                                }
                                            </datalist>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">编号：</label>
                                            <label id="IsBH" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input class="form-control" name="materialCode" type="text" id="IBh" onblur="codeblur()" list="materialCodelist" />
                                            <datalist id="materialCodelist">
                                                @foreach (var materialCode in materialCodes)
                                                {
                                                    <option>@materialCode.code</option>
                                                }
                                            </datalist>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">批号：</label>
                                            <label id="IsPH" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <label id="IsPH2" style="color:#ff0000;display:none;font-size:13px">*批号已存在</label>
                                            <input class="form-control" name="batch" type="text" id="IPh" />
                                        </div>


                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">单价（元）：</label>
                                            <label id="IsPer" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input class="form-control" name="unitPrice" type="number" id="Iper" onkeyup="clearNoNum(this)" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">单价的单位：</label>
                                            @Html.DropDownListFor(m => m.priceMeasure, ViewBag.selectUnitPrice as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">数量：</label>
                                            <label id="IsNumber" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input class="form-control" name="amount" type="number" id="INumber" onkeyup="clearNoNum(this)" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">计量单位：</label>
                                            @Html.DropDownListFor(m => m.unit, ViewBag.select as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">厂家：</label>
                                            @Html.DropDownListFor(m => m.menufactureId, ViewBag.selectMenu as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">放置位置：</label>
                                            @Html.DropDownList("position", ViewBag.selectPosition as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">入库时间：</label>
                                            <label id="inComeTime" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input type="text" class="layui-input" id="test1" name="InComeTime" value="@Models.Inventory.NewDateTime().ToString("yyyy-MM-dd")">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">复检时间：</label>
                                            <label id="recheckTime" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input type="text" class="layui-input" id="test2" name="RecheckTime" value="@Models.Inventory.NewDateTime().ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">复检周期(年)：</label>
                                            <label id="IsCycle" style="color:#ff0000;display:none;font-size:13px">*不能为空，只能为数字</label>
                                            <input class="form-control" name="RecheckCycle" type="number" id="ICycle" onkeyup="clearNoNum(this)" value="10" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">操作人：</label>
                                            @Html.DropDownListFor(m => m.operatorId, ViewBag.selectOperator as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    @*<div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="signin_form">复检依据：</label>
                                                <label id="IsRecheckBasis" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                                <input class="form-control" name="RecheckBasis" type="text" id="IRecheckBasis" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="signin_form">复检单号：</label>
                                                <label id="IsRecheckOrderNo" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                                <label id="IsRecheckOrderNo2" style="color:#ff0000;display:none;font-size:13px">*复检单号已存在</label>
                                                <input class="form-control" name="RecheckOrderNo" type="text" id="IRecheckOrderNo" list="recheckOrderNolist" />
                                                <datalist id="recheckOrderNolist">
                                                    @foreach (var recheckReport in recheckReports)
                                                    {
                                                        <option>@recheckReport.recheckOrderNo</option>
                                                    }
                                                </datalist>
                                            </div>
                                        </div>*@

                                    <div class="form-group col-md-12">
                                        <label for="signin_form">产品质量证明：</label>
                                        <label for="signin_form">(点击图片查看)</label>
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn layui-btn-normal" id="testList" name="testList">选择</button>
                                            @*<label id="testlist" style="color:#ff0000;display:none;font-size:13px">*需添加产品质量证明</label>*@
                                            <div class="layui-upload-list" id="wrap">
                                                <table class="layui-table">
                                                    <thead>
                                                        <tr>
                                                            <th>文件名</th>
                                                            <th>预览图</th>
                                                            <th>大小</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="demoList"></tbody>
                                                </table>
                                            </div>
                                            <div class="form-group" id="qualityId">
                                            </div>
                                        </div>
                                        <input class="form-control" id="qualityCount" name="qualityCount" type="text" hidden>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="signin_form">复验结果报告：</label>
                                        <label for="signin_form">(点击图片查看)</label>
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn layui-btn-normal" id="testList2">选择</button>
                                            <div class="layui-upload-list" id="wrap2">
                                                <table class="layui-table">
                                                    <thead>
                                                        <tr>
                                                            <th>文件名</th>
                                                            <th>预览图</th>
                                                            <th>大小</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="demoList2"></tbody>
                                                </table>
                                            </div>
                                            <div class="form-group" id="recheckId">
                                            </div>
                                        </div>
                                        <input class="form-control" id="recheckCount" name="recheckCount" type="text" hidden>
                                    </div>
                                    <div class="form-row" id="fujian" style="display:none">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">复检依据：</label>
                                            <label id="IsRecheckBasis" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input class="form-control" name="RecheckBasis" type="text" id="IRecheckBasis" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">复检单号：</label>
                                            <label id="IsRecheckOrderNo" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <label id="IsRecheckOrderNo2" style="color:#ff0000;display:none;font-size:13px">*复检单号已存在</label>
                                            <input class="form-control" name="RecheckOrderNo" type="text" id="IRecheckOrderNo" list="recheckOrderNolist" />
                                            <datalist id="recheckOrderNolist">
                                                @foreach (var recheckReport in recheckReports)
                                                {
                                                    <option>@recheckReport.recheckOrderNo</option>
                                                }
                                            </datalist>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" id="button" class="btn btn-block btn-primary" onclick="add()">添加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var preview = new Preview({
            imgWrap: 'wrap' // 指定该容器里的图片点击预览
        })

        var preview = new Preview({
            imgWrap: 'wrap2' // 指定该容器里的图片点击预览
        })
    </script>
</body>
</html>