@model Models.InComeView
@{
    Layout = null;
}
@{
    List<Models.Name> names = Models.Name.SelectAll();
    List<Models.Model> models = Models.Name.SelectModelAll();
    List<Models.Category> categories = Models.Name.SelectCategoryAll();
    List<Models.BrandCode> brandCodes = Models.Name.SelectBrandCodeAll();
    List<Models.MaterialCode> materialCodes = Models.Name.SelectMaterialCodeAll();
    List<Models.RecheckReport> recheckReports = Models.Name.SelectRecheckReportAll();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            laydate.render({
                elem: '#IncomeText'
                ,isInitValue: true
            });
        });

        var isTrue = true;
        var isISpecise = true;
        var isISName = true;
        var isISModel = true;
        var isISCode = true;
        var isIPH = true;
        var isIper = true;
        var isINumber = true;
        var isICycle = true;
        var isIIncomeText = true;
        var isIBC = true;

        function check() {
            //类别
            var ISpecise = $("#ISpecise").val().trim();
            if (ISpecise !="") {
                document.getElementById("IsSpecise").style.display = "none";
                isISpecise = true;
            } else {
                document.getElementById("IsSpecise").style.display = "";
                isISpecise = false;
            }
            //名称
            var ISName = $("#IName").val().trim();
            if (ISName !="") {
                document.getElementById("IsName").style.display = "none";
                isISName = true;
            } else {
                document.getElementById("IsName").style.display = "";
                isISName = false;
            }
            //规格
            var ISModel = $("#ISize").val().trim();
            if (ISModel !="") {
                document.getElementById("IsModel").style.display = "none";
                isISModel = true;
            } else {
                document.getElementById("IsModel").style.display = "";
                isISModel = false;
            }
            //牌号
             var IBC = $("#IBC").val().trim();
            if (IBC == "") {
                document.getElementById("IsBC").style.display = "";
                isIBC = false;
            } else {
                document.getElementById("IsBC").style.display = "none";
                isIBC = true;
            }
            //编号
            var IScode = $("#IBh").val().trim();
            if (IScode != "") {
                document.getElementById("Iscode").style.display = "none";
                isISCode = true;
            } else {
                document.getElementById("Iscode").style.display = "";
                isISCode = false;
            }
            //批号
            var IPh = $("#IPh").val().trim();
            if (IPh != "") {
                document.getElementById("IsPH").style.display = "none";
                isIPH = true;
            } else {
               $.ajax({
                    url: "@Url.Action("BatchShutOut")",
                    data:"batch="+IPh,
                    type: "post",
                    success: function (data) {
                        if (data) {
                            isIPH = true;
                            document.getElementById("IsPH2").style.display = "none";
                        }
                        else {
                            isIPH = false;
                            document.getElementById("IsPH2").style.display = "";
                        }
                    }
                });
                document.getElementById("IsPH").style.display = "none";
            }
            //单价
            var Iper = $("#Iper").val().trim();
            if (Iper == "") {
                document.getElementById("IsPer").style.display = "";
                isIper = false;
            } else {
                document.getElementById("IsPer").style.display = "none";
                isIper = true;
            }
            //数量
            var INumber = $("#INumber").val().trim();
            if (INumber == "") {
                document.getElementById("IsNumber").style.display = "";
                isINumber = false;
            } else {
                document.getElementById("IsNumber").style.display = "none";
                isINumber = true;
            }
            //周期
            var ICycle = $("#ICycle").val().trim();
            if (ICycle != "") {
                document.getElementById("IsCycle").style.display = "none";
                isICycle = true;
            } else {
                document.getElementById("IsCycle").style.display = "";
                isICycle = false;
            }
            //入库时间
            var t = $("#IncomeText").val().trim();
            if (t == "") {
                document.getElementById("IncomeText1").style.display = "";
                isIIncomeText = false;
            } else {
                document.getElementById("IncomeText1").style.display = "none";
                isIIncomeText = true;
            }
            if (isISpecise && isIPH && isIper && isINumber && isICycle && isIIncomeText && isISName && isISModel && isISCode && isIBC) {
                isTrue = true;
            } else {
                isTrue = false;
            }
        }
         function nameblur() {
            var name = $("#IName").val();
            var model = $("#ISize").val();
            if (name != "" && model != "") {
                $.ajax({
                    url: "@Url.Action("GetCode")",
                    data:{"name":name,"model":model},
                    type: "post",
                    success: function (data) {
                        if (data != "") {
                            $("#IBh").val(data);
                        }
                    }
                });
            }
        }

        function codeblur() {
            var code = $("#IBh").val();
            if (code != "") {
                $.ajax({
                    url: "@Url.Action("GetName")",
                    data:"code="+code,
                    type: "post",
                    success: function (data) {
                        if (data != "") {
                            $("#IName").val(data);
                        }
                    }
                });

                $.ajax({
                    url: "@Url.Action("GetModel")",
                    data:"code="+code,
                    type: "post",
                    success: function (data) {
                        if (data != "") {
                            $("#ISize").val(data);
                        }
                    }
                });
            }
        }

        function clearNoNum(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字而不是
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        }

        var judjeWd = false;
        function JudgesubmitForm() {
            var wd = document.getElementById('IncomeText');//输入框
            if (wd.value != wd.defaultValue)
            {
                judjeWd = true;
            }
        }

        $(function () {
        $("#myform :input").change(function () {
            $("#myform").data("changed", true);
        });

        });
        function Check2() {
                    check();
                    if (isTrue) {
                        $.ajax({
                            url: "@Url.Action("InCome_update")",
                            type: "post",
                            data: $("form").serialize(),
                            dataType: "json",
                            success: function (data) {
                                data = eval("(" + data + ")");
                                if (data) {
                                    alert("修改成功");
                                    parent.closeWin2();
                                    parent.openFrame("InCome_list");
                                } else {
                                }
                            }
                        });
                    } else {
                        return ;
                    }
        }

        function update() {
            JudgesubmitForm();
            if ($("#myform").data("changed") || judjeWd) {
                Check2();
            } else {
                alert("没有修改");
            }
        }

    </script>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2 style="text-align:center">修改材料</h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="signin-form" id="myform">
                                @using (Html.BeginForm("InCome_update", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">名称：</label>
                                            <label id="IsName" style="color:#ff0000;display:none;font-size:13px">*名称不能为空</label>
                                            <input class="form-control" name="name" type="text" value="@Model.materialName" id="IName" onblur="nameblur()" list="namelist"/>
                                            <datalist id="namelist">
                                                @foreach (var name in names)
                                                {
                                                    <option>@name.materialName</option>
                                                }
                                            </datalist>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">规格：</label>
                                            <label id="IsModel" style="color:#ff0000;display:none;font-size:13px">*规格不能为空</label>
                                            <input class="form-control" name="model" type="text" value="@Model.modelName" id="ISize" onblur="nameblur()" list="modellist"/>
                                            <datalist id="modellist">
                                                @foreach (var mo in models)
                                                {
                                                    <option>@mo.modelName</option>
                                                }
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">类别：</label>
                                            <label id="IsSpecise" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input class="form-control" name="category" type="text" value="@Model.categoryName" id="ISpecise" list="categorylist"/>
                                            <datalist id="categorylist">
                                                @foreach (var categorie in categories)
                                                {
                                                    <option>@categorie.categoryName</option>
                                                }
                                            </datalist>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">编号：</label>
                                            <label id="Iscode" style="color:#ff0000;display:none;font-size:13px">*编号不能为空</label>
                                            <input class="form-control" name="materialCode" type="text" value="@Model.code" id="IBh" onblur="codeblur()" list="materialCodelist" />
                                            <datalist id="materialCodelist">
                                                @foreach (var materialCode in materialCodes)
                                                {
                                                    <option>@materialCode.code</option>
                                                }
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">批号：</label>
                                            <label id="IsPH" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <label id="IsPH2" style="color:#ff0000;display:none;font-size:13px">*批号已存在</label>
                                            <input class="form-control" name="batch" type="text" value="@Model.batch" id="IPh" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">牌号：</label>
                                            <label id="IsBC" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input class="form-control" name="brandCode" type="text" value="@Model.brandCodeName" id="IBC" list="brandCodelist" />
                                            <datalist id="brandCodelist">
                                                @foreach (var brandCode in brandCodes)
                                                {
                                                    <option>@brandCode.brandCodeName</option>
                                                }
                                            </datalist>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">单价（元）：</label>
                                            <label id="IsPer" style="color:#ff0000;display:none;font-size:13px">*不能为空,最多到小数点后两位</label>
                                            <input class="form-control" name="unitPrice" type="number" value="@Model.unitPrice" id="Iper" onkeyup="clearNoNum(this)" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">单价的单位：</label>
                                            @Html.DropDownList("priceMeasure", ViewBag.selectUnitPrice as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">

                                        <div class="form-group col-md-6">
                                            <label for="signin_form">数量：</label>
                                            <label id="IsNumber" style="color:#ff0000;display:none;font-size:13px">*不能为空,最多到小数点后两位</label>
                                            <input class="form-control" name="amount" type="number" value="@Model.amount" id="INumber" onkeyup="clearNoNum(this)" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">计量单位：</label>
                                            @Html.DropDownList("unit", ViewBag.select as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">厂家：</label>
                                            @Html.DropDownList("manufacturer", ViewBag.selectMenu as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">放置位置：</label>
                                            @Html.DropDownList("position", ViewBag.selectPosition as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="layui-inline col-md-6 form-group">
                                            <label for="signin_form">入库时间:</label>
                                            <label id="IncomeText1" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input type="text" class="layui-input form-control" id="IncomeText" onclick="JudgesubmitForm()" name="IncomeText" value="@Model.storageTime.ToString("yyyy-MM-dd")">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">复检周期：</label>
                                            <label id="IsCycle" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input type="text" class="form-control" name="reviewCycle" value="@Model.reviewCycle" id="ICycle" onkeyup="clearNoNum(this)"/>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">操作人：</label>
                                            @Html.DropDownList("operator", ViewBag.selectOperator as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-block btn-primary" onclick="update()">修改</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>