@model Models.InCome 
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" media="all"/>
    <script src="~/Content/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;

              //常规用法
              laydate.render({
                elem: '#test1'
              });

             laydate.render({
                elem: '#test2'
              });
        });

        layui.use('upload', function(){
                var $ = layui.jquery
                , upload = layui.upload;
            var id = 1;
            var demoListView = $('#demoList')
            var qualityView = $('#qualityId')
            ,uploadListIns = upload.render({
            elem: '#testList'
            ,url: '/upload/'
            ,accept: 'image/*'
            ,multiple: true
            ,auto: false
            ,choose: function(obj){   
              var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
              //读取本地文件
              obj.preview(function(index, file, result){
                  var tr = $(['<tr id="upload-' + index + '">'
                  ,'<td>'+ file.name +'</td>'
                  , '<td>'
                      ,'<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" width="200px" heigth="200px">'
                  ,'</td>'
                  ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                  ,'<td>'
                    ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                  ,'</td>'
                      , '</tr>'].join(''));
                  var div = $(['<input class="form-control" hidden id="quality'+id+'" type="text" name="quality'+id+'">'].join(''));
                //删除
                tr.find('.demo-delete').on('click', function(){
                  delete files[index]; //删除对应的文件
                    tr.remove();
                    div.remove();
                  uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                });
                  qualityView.append(div);
                  $("#quality"+id+"").val(result);
                  demoListView.append(tr);
                  id++;
              });
            }
          });
             
            var demoListView2 = $('#demoList2')
            ,uploadListIns = upload.render({
            elem: '#testList2'
            ,url: '/upload/'
            ,accept: 'image/*'
            ,multiple: true
            ,auto: false
            ,choose: function(obj){   
              var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
              //读取本地文件
              obj.preview(function(index, file, result){
                  var tr = $(['<tr id="upload-' + index + '">'
                  ,'<td>'+ file.name +'</td>'
                  , '<td>'
                      , '<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img" width="200px" heigth="200px">'
                      , '</td>'
                  ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                  ,'<td>'
                    ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                  ,'</td>'
                      , '</tr>'].join(''));

                //单个重传
                tr.find('.demo-reload').on('click', function(){
                  obj.upload(index, file);
                });
        
                //删除
                tr.find('.demo-delete').on('click', function(){
                  delete files[index]; //删除对应的文件
                  tr.remove();
                  uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                });
        
                demoListView2.append(tr);
              });
            }
          });
        });

        function add() {
            $.ajax({
                url: "@Url.Action("InCome_add")",
                type: "post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("添加成功");
                        parent.closeWin2();
                        parent.openFrame("InCome_list");
                    } else {
                    }
                }
            });
        }
    </script>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2>添加材料</h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="signin-form">
                                @using (Html.BeginForm("InCome_add", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">名称：</label>
                                            <input class="form-control" name="name1" type="text" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">规格：</label>
                                            <input class="form-control" name="model" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">类别：</label>
                                            <input class="form-control" name="category" type="text" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">编号：</label>
                                            <input class="form-control" name="materialCode" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">批号：</label>
                                            <input class="form-control"  name="batch" type="text" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">计量单位：</label>
                                            @Html.DropDownListFor(m => m.unit, ViewBag.select as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">单价（元）：</label>
                                            <input class="form-control" name="unitPrice" type="text" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">单价的单位：</label>
                                            @Html.DropDownListFor(m => m.priceMeasure, ViewBag.select as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">操作人：</label>
                                            @Html.DropDownListFor(m => m.operatorId, ViewBag.selectOperator as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">数量：</label>
                                            <input class="form-control" name="amount" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">厂家：</label>
                                            @Html.DropDownListFor(m => m.menufactureId, ViewBag.selectMenu as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">放置位置：</label>
                                            @Html.DropDownList("position", ViewBag.selectPosition as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">入库时间：</label>
                                            <input type="text" class="layui-input" id="test1" name="InComeTime">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">复检时间：</label>
                                            <input type="text" class="layui-input" id="test2" name="RecheckTime">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">复检周期：</label>
                                            <input class="form-control" name="RecheckCycle" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="signin_form">产品质量证明：</label>
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn layui-btn-normal" id="testList">选择</button>
                                            <div class="layui-upload-list">
                                                <table class="layui-table">
                                                    <thead>
                                                        <tr>
                                                            <th>文件名</th>
                                                            <th>预览图</th>
                                                            <th>大小</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="demoList"></tbody>
                                                </table>
                                            </div>
                                            <div class="form-group" id="qualityId">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="signin_form">复验结果报告：</label>
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn layui-btn-normal" id="testList2">选择</button>
                                            <div class="layui-upload-list">
                                                <table class="layui-table">
                                                    <thead>
                                                        <tr>
                                                            <th>文件名</th>
                                                            <th>预览图</th>
                                                            <th>大小</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="demoList2"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-footer">
                                <button type="button" class="btn btn-primary" onclick="add();">
                                    添加
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>