@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>
    @{ Models.InCome inCome = (Models.InCome)ViewData["InCome"];}
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;

              laydate.render({
                elem: '#IncomeText'
                ,value: '@inCome.storageTime.ToShortDateString().ToString()'
                ,isInitValue: true
              });

            laydate.render({
                elem: '#ReckeckText'
                ,value: ''
                ,isInitValue: true
              });
        });

        layui.use('upload', function(){
                var $ = layui.jquery
                , upload = layui.upload;

            var demoListView = $('#demoList')
            ,uploadListIns = upload.render({
            elem: '#testList'
            ,url: '/upload/'
            ,accept: 'image/*'
            ,multiple: true
            ,auto: false
            ,choose: function(obj){   
              var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
              //读取本地文件
              obj.preview(function(index, file, result){
                  var tr = $(['<tr id="upload-' + index + '">'
                  ,'<td>'+ file.name +'</td>'
                  , '<td>'
                      ,'<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" width="200px" heigth="200px">'
                  ,'</td>'
                  ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                  ,'<td>'
                    ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                  ,'</td>'
                ,'</tr>'].join(''));
        
                //单个重传
                tr.find('.demo-reload').on('click', function(){
                  obj.upload(index, file);
                });
        
                //删除
                tr.find('.demo-delete').on('click', function(){
                  delete files[index]; //删除对应的文件
                  tr.remove();
                  uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                });
        
                demoListView.append(tr);
              });
            }
          });
             
            var demoListView2 = $('#demoList2')
            ,uploadListIns = upload.render({
            elem: '#testList2'
            ,url: '/upload/'
            ,accept: 'image/*'
            ,multiple: true
            ,auto: false
            ,choose: function(obj){   
              var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
              //读取本地文件
              obj.preview(function(index, file, result){
                  var tr = $(['<tr id="upload-' + index + '">'
                  ,'<td>'+ file.name +'</td>'
                  , '<td>'
                      ,'<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" width="200px" heigth="200px">'
                  ,'</td>'
                  ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                  ,'<td>'
                    ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                  ,'</td>'
                ,'</tr>'].join(''));
        
                //单个重传
                tr.find('.demo-reload').on('click', function(){
                  obj.upload(index, file);
                });
        
                //删除
                tr.find('.demo-delete').on('click', function(){
                  delete files[index]; //删除对应的文件
                  tr.remove();
                  uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                });
        
                demoListView2.append(tr);
              });
            }
          });
        });

        function update() {
            $.ajax({
                url: "@Url.Action("InCome_update")",
                type: "post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("修改成功");
                        parent.closeWin2();
                        parent.openFrame("InCome_list");
                    } else {
                    }
                }
            });
        }
    </script>
</head>
<body>
    <section class="signin popup-in">
        <div class="container">
            <div class="sign-content popup-in-content">
                <div class="popup-in-txt">
                    <h2>修改材料</h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="signin-form">
                                @using (Html.BeginForm("InCome_update", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">名称：</label>
                                            <input class="form-control" name="name1" type="text" value="@inCome.GetName(inCome.codeId).materialName" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">规格：</label>
                                            <input class="form-control" name="model" type="text" value="@inCome.GetModel(inCome.codeId).modelName" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">类别：</label>
                                            <input class="form-control" name="category" type="text" value="@inCome.GetCategory(inCome.categoryId).categoryName" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">编号：</label>
                                            <input class="form-control" name="materialCode" type="text" value="@Models.InCome.GetMaterialCode(inCome.codeId).code" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">批号：</label>
                                            <input class="form-control" name="batch" type="text" value="@inCome.batch" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">计量单位：</label>
                                            @Html.DropDownList("unit", ViewBag.select as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">单价（元）：</label>
                                            <input class="form-control" name="unitPrice" type="text" value="@inCome.unitPrice" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">单价的单位：</label>
                                            @Html.DropDownList("unitPrice", ViewBag.select as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">操作人：</label>
                                            @Html.DropDownList("operator", ViewBag.selectOperator as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">数量：</label>
                                            <input class="form-control" name="amount" type="text" value="@inCome.amount" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">厂家：</label>
                                            @Html.DropDownList("manufacturer", ViewBag.selectMenu as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">放置位置：</label>
                                            @Html.DropDownList("position", ViewBag.selectPosition as SelectList, new { @class = "form-control", id = "example-select" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="layui-inline col-md-6 form-group">
                                            <label for="signin_form">入库时间:</label>
                                            <input type="text" class="layui-input form-control" id="IncomeText">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">复检时间：</label>
                                            <input type="text" class="layui-input form-control" id="ReckeckText">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="signin_form">产品质量证明：</label>
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn layui-btn-normal" id="testList">选择</button>
                                            <div class="layui-upload-list">
                                                <table class="layui-table">
                                                    <thead>
                                                        <tr>
                                                            <th>文件名</th>
                                                            <th>预览图</th>
                                                            <th>大小</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="demoList"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="signin_form">复验结果报告：</label>
                                        <div class="layui-upload">
                                            <button type="button" class="layui-btn layui-btn-normal" id="testList2">选择</button>
                                            <div class="layui-upload-list">
                                                <table class="layui-table">
                                                    <thead>
                                                        <tr>
                                                            <th>文件名</th>
                                                            <th>预览图</th>
                                                            <th>大小</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="demoList2"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="signin-footer">
                                <button type="button" class="btn btn-primary" onclick="update();">
                                    修改
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>