@model List<Models.InComeView>
@{
    Layout = "~/Views/AdminIndex/AdminIndex.cshtml";
}
@{
    List<Models.MaterialCode> material = (List<Models.MaterialCode>)ViewData["MaterialCode"];
    List<Models.Manufacturer> manufacturer = (List<Models.Manufacturer>)ViewData["manufacturer"];
    int permissions = 0;
    if (ViewData["permissions"] == null)
    {
        permissions = 3;
    }
    else
    {
        permissions = (int)ViewData["permissions"];
    }
}
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <link href="~/Content/AdminIndex/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/vendor/responsive.bootstrap4.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
        <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
        <script src="~/Content/layui/layui.js"></script>
        <script src="~/Content/Excel/Excel.js"></script>
        <script type="text/javascript">

            layui.use('laydate', function () {
                var laydate = layui.laydate;

                //常规用法
                laydate.render({
                    elem: '#test1'
                });

                laydate.render({
                    elem: '#test2'
                });
            });

            function InComeAdd() {
                var url = "InCome_add";
                var width = "100%";
                var height = "950px";
                parent.OpenWin2(url, width, height);
            }

            function InComeUpdate(id) {
                var url = "InCome_update?id=" + id;
                var width = "100%";
                var height = "750px";
                parent.OpenWin2(url, width, height);
            }

            function InComeSelete(id) {
                var url = "InCome_selete?id=" + id +"&id2=" + 1;
                var width = "100%";
                var height = "750px";
                parent.OpenWin2(url, width, height);
            }

            //function QualityReport(id) {
            //    var url = "QualityReport?id=" + id;
            //    var width = "100%";
            //    var height = "800px";
            //    parent.OpenWin2(url, width, height);
            //}

            //function RecheckReport(id) {
            //    var url = "RecheckReports?id=" + id;
            //    var width = "100%";
            //    var height = "800px";
            //    parent.OpenWin2(url, width, height);
            //}
        </script>
    </head>
<div class="content-page">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">材料出入库信息</a></li>
                            <li>
                                <span class="dripicons-chevron-right"></span>
                            </li>
                            <li class="breadcrumb-item active">材料入库信息管理</li>
                        </ol>
                    </div>
                    <h4 class="page-title">材料入库信息管理</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">详细查询</h4>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;text-align:center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" action="/Material/InCome_list" style="width:100%;text-align:center">
                                        <div class="form-group mb-3">
                                            <table contenteditable="inherit" style="width:100%;text-align:center">
                                                <tr>
                                                    <td>
                                                        <label style="width:100%;text-align:left">厂商查询</label>
                                                        <select name="manufacturerid" class="form-control col-md-10">
                                                            <option value="0">请选择</option>
                                                            @foreach (var man in manufacturer)
                                                            {
                                                                <option value="@man.id">@man.manufacturersName</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label style="width:100%;text-align:left">货品编号查询</label>
                                                        <select name="materialCodeid" class="form-control col-md-10">
                                                            <option value="0">请选择</option>
                                                            @foreach (var emp in material)
                                                            {
                                                                <option value="@emp.id">@emp.code</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label for="example-date" style="width:100%;text-align:left">开始时间：</label>
                                                        <input class="form-control col-md-10" id="test1" type="text" name="date">
                                                    </td>
                                                    <td>
                                                        <label for="example-date" style="width:100%;text-align:left">结束时间</label>
                                                        <input class="form-control col-md-10" id="test2" type="text" name="date1">
                                                    </td>
                                                    <td>
                                                        <div class="button-list">
                                                            <button type="submit" style="width:60px;height:50px; float:unset" class="btn btn-primary"
                                                                    data-toggle="modal" data-target=".signin_modal">
                                                                查询
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-11">
                                @if (permissions == 1)
                                {
                                    <a href="javascript:InComeAdd()" class="btn btn-primary"><i class="mdi mdi-plus-circle mr-2"></i>添加材料信息</a>
                                }
                            </div>
                            <div class="l-button" style="margin:10px; margin-left:15px;">
                                <a href="javascript:export_excel('products-datatable14')" class="side-nav-link">
                                    <i class=" dripicons-export "></i>
                                    <span> 导出Excel </span>
                                </a>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable13">
                                <thead>
                                    <tr>
                                        <th style="width: 10px;">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                            </div>
                                        </th>
                                        <th>编号</th>
                                        <th>名称</th>
                                        <th>规格</th>
                                        <th>类别</th>
                                        <th>编号</th>
                                        <th>牌号</th>
                                        <th>批号</th>
                                        <th>厂商</th>
                                        <th>入库时间</th>
                                        @if (permissions == 1)
                                        {
                                            <th>质量报告</th>
                                            <th>复检报告</th>
                                        }
                                        else
                                        {
                                            <th style="width: 1px;"></th>
                                            <th style="width: 1px;"></th>
                                        }
                                        <th>操作人</th>
                                        @if (permissions == 1)
                                        {
                                            <th style="width: 75px;">操作</th>
                                        }
                                        else
                                        {
                                            <th style="width: 1px;"></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int count = 1;}
                                    @foreach (var income in Model)
                                    {
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>@count</td>
                                        <td>@income.materialName</td>
                                        <td>@income.modelName</td>
                                        <td>@income.categoryName</td>
                                        <td>@income.code</td>
                                        <td>@income.brandCodeName</td>
                                        <td>@income.batch</td>
                                        <td>@income.manufacturersName</td>
                                        <td>@income.storageTime.ToString("d")</td>
                                        @if (permissions == 1)
                                        {
                                            <td>
                                                @*<a href="javascript:QualityReport(@income.incoId)" class="font-weight-bold" style="color:#0026ff">查看</a>*@
                                                <a href="../Material/QualityReport?id=@income.incoId" class="font-weight-bold" style="color:#0026ff">查看</a>
                                            </td>
                                            <td>
                                                @*<a href="javascript:RecheckReport(@income.incoId)" class="font-weight-bold" style="color:#0026ff">查看</a>*@
                                                <a href="../Material/RecheckReports?id=@income.incoId" class="font-weight-bold" style="color:#0026ff">查看</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                        }
                                        <td>@income.name</td>
                                        @if (permissions == 1)
                                        {
                                            <td>
                                                <a href="javascript:InComeUpdate(@income.incoId)" class="action-icon"> <i class="dripicons-pencil"></i></a>
                                                <a href="javascript:InComeSelete(@income.incoId)" class="action-icon"> <i class=" dripicons-blog"></i></a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
