 @model List<Models.RecheckReportImgView>
@{
    Layout = "~/Views/AdminIndex/AdminIndex.cshtml";
}
@{ 
    int id = 0;
    if (ViewData["id"] != null)
    {
        id = (int)ViewData["id"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" media="all" />
    <script src="~/Content/layui/layui.js" charset="utf-8"></script>
    <link href="~/Content/image/preview.css" rel="stylesheet" />
    <script src="~/Content/image/preview.js"></script>
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;

             laydate.render({
                elem: '#test2'
              });
        });

        layui.use('upload', function(){
                var $ = layui.jquery
                , upload = layui.upload;
            var id2 = 0;

            var demoListView2 = $('#demoList2')
            var recheckView = $('#recheckId')
            ,uploadListIns = upload.render({
            elem: '#testList2'
            ,url: '/upload/'
            ,accept: 'image/*'
            ,multiple: true
            ,auto: false
            ,choose: function(obj){
              var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
              //读取本地文件
              obj.preview(function(index, file, result){
                  var tr = $(['<tr id="upload-' + index + '">'
                  ,'<td>'+ file.name +'</td>'
                  , '<td>'
                      , '<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img" width="200px" heigth="200px">'
                      , '</td>'
                  ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                  ,'<td>'
                    ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                  ,'</td>'
                      , '</tr>'].join(''));

                   var div = $(['<input class="form-control" hidden id="recheck'+id2+'" type="text" name="recheck'+id2+'">'].join(''));

                //删除
                tr.find('.demo-delete').on('click', function(){
                  delete files[index]; //删除对应的文件
                    tr.remove();
                    div.remove();
                  uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                });
                  recheckView.append(div);
                  $("#recheck"+id2+"").val(result);
                  demoListView2.append(tr);
                  id2++;
                  $("#recheckCount").val(id2);
              });
            }
          });
        });
        var isDelect;
        var isUpdateImg;
        function delect(obj,id) {
            var tr=obj.parentNode.parentNode;
	    	var tbody=tr.parentNode;
            tbody.removeChild(tr);
            $("#recheck").val($("#recheck").val() + id + ",")
            isDelect = true;
        }

        function updateImg(id) {
            var url = "RecheckReports_update?id="+id;
            var width = "100%";
            var height = "300px";
            parent.OpenWin(url, width, height);
            isUpdateImg = true;
        }

        var isTrue;
        var IsTest2;
        var IsIRecheckBasis;
        var IsIRecheckOrderNo;
        var isRecheck;
        function check() {
            //复检时间
            var test2 = $("#test2").val().trim();
            if (test2 != "") {
                document.getElementById("Istest2").style.display = "none";
                IsTest2 = true;
            } else {
                document.getElementById("Istest2").style.display = "";
                IsTest2 = false;
            }
            //复检依据
            var IRecheckBasis = $("#IRecheckBasis").val().trim();
            if (IRecheckBasis != "") {
                document.getElementById("IsRecheckBasis").style.display = "none";
                IsIRecheckBasis = true;
            } else {
                document.getElementById("IsRecheckBasis").style.display = "";
                IsIRecheckBasis = false;
            }
            //复检单号
            var IRecheckOrderNo = $("#IRecheckOrderNo").val().trim();
            if (IRecheckOrderNo != "") {
                $.ajax({
                    url: "@Url.Action("RecheckOrderNo2")",
                    data:"recheckOrderNo="+IRecheckOrderNo,
                    type: "post",
                    success: function (data) {
                        if (data) {
                            IsIRecheckOrderNo = true;
                            document.getElementById("IsRecheckOrderNo2").style.display = "none";
                        }
                        else {
                            IsIRecheckOrderNo = false;
                            document.getElementById("IsRecheckOrderNo2").style.display = "";
                        }
                    }
                });
                document.getElementById("IsRecheckOrderNo").style.display = "none";
            } else {
                document.getElementById("IsRecheckOrderNo").style.display = "";
                IsIRecheckOrderNo = false;
            }
            //添加图片
            var recheck = $("#recheckId :input").length;
            if (recheck == 0) {
                document.getElementById("istestList2").style.display = "";
                isRecheck = false;
            } else {
                document.getElementById("istestList2").style.display = "none";
                isRecheck = true;
            }



            if (IsTest2 && IsIRecheckBasis && IsIRecheckOrderNo && isRecheck) {
                isTrue = true;
            } else {
                isTrue = false;
            }
        }

        function update() {
            check();
            if (isTrue || isDelect || isUpdateImg) {
                $.ajax({
                    url: "@Url.Action("RecheckReports")",
                    type: "post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (data) {
                        data = eval("(" + data + ")");
                        if (data) {
                            alert("修改成功");
                            parent.openFrame("RecheckReports?id=" +@id);
                        }
                    }
                });
            } else {

            }
        }
    </script>

    <style type="text/css">
        #wrap img {
            vertical-align: top;
            cursor: pointer;
        }

        #wrap2 img {
            vertical-align: top;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="content-page">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">材料出入库信息</a></li>
                                <li>
                                    <span class="dripicons-chevron-right"></span>
                                </li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">材料入库信息管理</a></li>
                                <li>
                                    <span class="dripicons-chevron-right"></span>
                                </li>
                                <li class="breadcrumb-item active">复检报告</li>
                            </ol>
                            
                        </div>
                        @*<div class="page-title-box" style="height:80px;width:100%;background-color:aquamarine;position:fixed;">HHH</div>*@
                        <h4 class="page-title">复检报告</h4>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="signin-form">
                        @using (Html.BeginForm("RecheckReports", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                        {
                            <div class="form-group form-row">
                                <div class="layui-upload col-md-6" style="overflow-y:scroll;overflow-x:hidden;height:640px;width:40%">
                                    <label for="signin_form">复验结果报告：</label>
                                    <label for="signin_form">(点击图片查看)</label>
                                    <div class="layui-upload">
                                        <div class="layui-upload-list" id="wrap">
                                            <table class="layui-table">
                                                <thead>
                                                    <tr>
                                                        <th>预览图</th>
                                                        <th>复检依据</th>
                                                        <th>复检时间</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ string recheckOrderNo = "";}
                                                    @foreach (var recheck in Model)
                                                    {
                                                        if (recheckOrderNo != recheck.recheckOrderNo)
                                                        {
                                                            <tr>
                                                                <th>
                                                                    <label for="signin_form">复检单号：</label>
                                                                    <label for="signin_form">@recheck.recheckOrderNo</label>
                                                                </th>
                                                            </tr>
                                                            recheckOrderNo = recheck.recheckOrderNo;
                                                        }
                                                        <tr>
                                                            <th>
                                                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(recheck.img)" class="layui-upload-img" data-src="data:image/jpeg;base64,@Convert.ToBase64String(recheck.img)" width="200" heigth="200px">
                                                            </th>
                                                            <th>@recheck.recheckBasis</th>
                                                            <th>@recheck.recheckTime.ToString("d")</th>
                                                            <th>
                                                                <button class="layui-btn layui-btn-xs layui-btn-danger demo-delete" onclick="delect(this,@recheck.id)">删除</button>
                                                                <input type="button" class="layui-btn layui-btn-xs layui-btn-danger demo-delete" onclick="updateImg('@recheck.reportId')" value="修改" />
                                                            </th>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <input class="form-control" id="recheck" name="recheck" type="text" hidden>
                                </div>
                                
                                <div class="layui-upload col-md-6" style="overflow-y:scroll;overflow-x:hidden;height:640px;width:40%">
                                    <div class="form-row col-md-12">
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">复检时间：</label>
                                            <label id="Istest2" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input type="text" class="layui-input" id="test2" name="RecheckTime" value="@Models.Inventory.NewDateTime().ToString("yyyy-MM-dd")">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">复检依据：</label>
                                            <label id="IsRecheckBasis" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <input class="form-control" name="RecheckBasis" type="text" id="IRecheckBasis" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="signin_form">复检单号：</label>
                                            <label id="IsRecheckOrderNo" style="color:#ff0000;display:none;font-size:13px">*不能为空</label>
                                            <label id="IsRecheckOrderNo2" style="color:#ff0000;display:none;font-size:13px">*复检单号已存在</label>
                                            <input class="form-control" name="RecheckOrderNo" type="text" id="IRecheckOrderNo" list="recheckOrderNolist" />
                                            <datalist id="recheckOrderNolist">
                                                @foreach (var recheckReport in Model)
                                                {
                                                    <option>@recheckReport.recheckOrderNo</option>
                                                }
                                            </datalist>
                                        </div>
                                    </div>
                                    <button type="button" class="layui-btn layui-btn-normal" id="testList2">添加新图</button>
                                    <label id="istestList2" style="color:#ff0000;display:none;font-size:13px">*需添加新图片</label>
                                    <div class="layui-upload-list" id="wrap2">
                                        <table class="layui-table">
                                            <thead>
                                                <tr>
                                                    <th>文件名</th>
                                                    <th>预览图</th>
                                                    <th>大小</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody id="demoList2"></tbody>
                                        </table>
                                    </div>
                                    <div class="form-group" id="recheckId">
                                    </div>
                                    <input class="form-control" id="recheckCount" name="recheckCount" type="text" hidden>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-block btn-primary" onclick="update()">提交</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var preview = new Preview({
            imgWrap: 'wrap' // 指定该容器里的图片点击预览
        })

        var preview = new Preview({
            imgWrap: 'wrap2' // 指定该容器里的图片点击预览
        })
    </script>
</body>
</html>