@model Models.RecheckReport
@{
    Layout = null;
}
@{
    int id = 0;
    if (ViewData["id"] != null)
    {
        id = (int)ViewData["id"];
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
    <script src="~/Content/AdminIndex/js/app.min.js"></script>
    <script src="~/Content/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        var IsRecheckOrderNo = true;

        function recheckOrderNoBlur(id) {
            document.getElementById("IsRecheckOrderNo").style.display = "none";
            var recheckOrderNo = $("#recheckOrderNo").val();
            if (recheckOrderNo != "") {
                $.ajax({
                    url: "@Url.Action("IsRecheckOrderNo")",
                    data: {"recheckOrderNo":recheckOrderNo,"incomeId":id},
                    type: "post",
                    success: function (data) {
                        if (!data) {
                            document.getElementById("IsRecheckOrderNo").style.display = "";
                        }
                    }
                });
            }
        }
        var isTrue;
        var IsRecheckOrderNo1;
        var IsrecheckBasis;
        function check() {
            //复检单号
            var recheckOrderNo = $("#recheckOrderNo").val().trim();
            if (recheckOrderNo !== "") {
                document.getElementById("recheckOrderNo1").style.display = "none";
                IsRecheckOrderNo1 = true;
            } else {
                document.getElementById("recheckOrderNo1").style.display = "";
                IsRecheckOrderNo1 = false;
            }
            //复检依据
            var recheckBasis = $("#recheckBasis").val().trim();
            if (recheckBasis !== "") {
                document.getElementById("recheckBasis1").style.display = "none";
                IsrecheckBasis = true;
            } else {
                document.getElementById("recheckBasis1").style.display = "";
                IsrecheckBasis = false;
            }
            if (IsRecheckOrderNo1 && IsrecheckBasis) {
                isTrue = true;
            } else {
                isTrue = false;
            }
        }


        $(function () {
        $("#myform :input").change(function () {
            $("#myform").data("changed", true);
            document.getElementById("button").disabled = false;
        });
        });

        function update() {
            if ($("#myform").data("changed")) {
                check();
                if (isTrue) {
                    if (IsRecheckOrderNo) {
                        $.ajax({
                            url: "@Url.Action("RecheckReports_update")",
                            type: "post",
                            data: $("form").serialize(),
                            dataType: "json",
                            success: function (data) {
                                data = eval("(" + data + ")");
                                if (data) {
                                    alert("修改成功");
                                    parent.closeWin2();
                                    parent.openFrame("RecheckReports?id=" +@id);
                                }
                            }
                        });
                    }
                }
            } else {
                document.getElementById("button").disabled = true;
                //alert("没有修改！");
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="sign-content popup-in-content">
            <div class="popup-in-txt">
                <h2 style="text-align:center">修改复检信息</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="signin-form" id="myform">
                            @using (Html.BeginForm("RecheckReports_update", "Material", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
                            {
                            <div class="form-group">
                                <label for="signin_form">复检单号：</label>
                                <label id="recheckOrderNo1" style="color:#ff0000;display:none;font-size:13px">*复检单号不为空</label>
                                <label id="IsRecheckOrderNo" style="color:#ff0000;display:none;font-size:13px">*复检单号已存在</label>
                                <input class="form-control" type="text" name="recheckOrderNo" id="recheckOrderNo" value="@Model.recheckOrderNo" onblur="recheckOrderNoBlur('@Model.incomeId')" />
                            </div>
                            <div class="form-group">
                                <label for="signin_form">复检依据：</label>
                                <label id="recheckBasis1" style="color:#ff0000;display:none;font-size:13px">*复检依据不为空</label>
                                <input class="form-control" type="text" name="recheckBasis" id="recheckBasis" value="@Model.recheckBasis" />
                            </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="signin-footer">
                            <button type="button" id="button" class="btn btn-primary" onclick="update();">
                                修改
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
