@model List<Models.Position>
@{
    Layout = "~/Views/AdminIndex/AdminIndex.cshtml";
}
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <link href="~/Content/AdminIndex/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/vendor/responsive.bootstrap4.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/icons.min.css" rel="stylesheet" />
        <link href="~/Content/AdminIndex/css/app.min.css" rel="stylesheet" />
        <script src="~/Content/Excel/Excel.js"></script>
        <script type="text/javascript">
        function PositionAdd() {
            var url = "Position_add";
            var width = "100%";
            var height = "700px";
            parent.OpenWin(url, width, height);
        }
        function PositionUpdate(id) {
            var url = "Position_Update?id=" + id;
            var width = "100%";
            var height = "700px";
            parent.OpenWin(url, width, height);
        }
        function PositionSelect(id) {
            var url = "Position_Select?id=" + id;
            var width = "100%";
            var height = "780px";
            parent.OpenWin2(url, width, height);
        }
        function PositionDelete(id) {
            var flag = confirm("是否要删除信息？");
        if (flag) {
            $.ajax({
                url: "@Url.Action("Position_Delete")",
                type: "post",
                data: {
                    "id": id
                },
                dataType: "json",
                success: function (data) {
                    data = eval("(" + data + ")");
                    if (data) {
                        alert("删除成功！");
                        parent.openFrame("Position_list");
                    } else {
                        alert("删除失败！该仓位中可能还存有物品");
                    }
                }
            });
        }
        }
        </script>
    </head>
<div class="content-page">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">仓库位置</a></li>
                            <li class="breadcrumb-item active">仓库位置管理</li>
                        </ol>
                    </div>
                    <h4 class="page-title">仓库位置管理</h4>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-11">
                                <a href="javascript:PositionAdd()" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle mr-2"></i>添加仓库位置</a>
                            </div>
                            <div class="l-button">
                                <a href="javascript:export_excel('products-datatable4')" class="side-nav-link">
                                    <i class=" dripicons-export "></i>
                                    <span> 导出Excel </span>
                                </a>
                            </div>
                        </div>
                            <div class="table-responsive">
                                <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable4">
                                    <thead>
                                        <tr>
                                            <th style="width: 20px;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th>编号</th>
                                            <th>位置信息</th>
                                            <th>备注</th>
                                            <th style="width: 125px;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int count = 1; }
                                        @foreach (var position in Model)
                                        {
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                    <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td class="table-user">@count</td>
                                            <td>@position.positionName</td>
                                            <td>@position.note</td>
                                            <td>
                                                <a href="javascript:PositionDelete(@position.id);" class="action-icon"> <i class="dripicons-trash"></i></a>
                                                <a href="javascript:PositionUpdate(@position.id)" class="action-icon"> <i class="dripicons-pencil"></i></a>
                                                <a href="javascript:PositionSelect(@position.id)" class="action-icon"> <i class=" dripicons-blog"></i></a>
                                            </td>
                                        </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>

